@import "lists";
@import "tables";
@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
* {
  box-sizing: inherit;
  &:before {
    box-sizing: inherit;
  }
  &:after {
    box-sizing: inherit;
  }
}
body {
  background-color: $color__background-body;
  font-size: $body__font-size;
  font-family: $font__body;
  overflow-x: hidden;
}
hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
img {
  height: auto;
  max-width: 100%;
}
figure {
  margin: 1em 0;
}
.button {
  background-color: $color__dark-op-75;
  color: $color__light;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: .5em 1em;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  &:hover {
    background-color: $color__dark;
    color: $color__light;
  }
  &:active {
    background-color: $color__dark;
    color: $color__light;
  }
  &:focus {
    background-color: $color__dark;
    color: $color__light;
  }
}
.btn {
  background-color: $color__dark-op-75;
  color: $color__light;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: .5em 1em;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  &:hover {
    background-color: $color__dark;
    color: $color__light;
  }
  &:active {
    background-color: $color__dark;
    color: $color__light;
  }
  &:focus {
    background-color: $color__dark;
    color: $color__light;
  }
}
