table {
    background-color: transparent;
    box-sizing: border-box;
    margin: 1.6em 0;
    max-width: 100%;
    width: 100%;
}
table th, table td {
    border-top: 1px solid #efefef;
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
table th {
    color: #000;
}
table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td {
    border-top: 0 none;
}
table tbody + tbody {
    border-top: 2px solid #efefef;
}
table table table {
    background-color: #fff;
}
table tbody > tr:nth-child(2n+1) > td, table tbody > tr:nth-child(2n+1) > th {
    background-color: #f6f6f6;
}