table {
    background-color: transparent;
    box-sizing: border-box;
    margin: 1.6em 0;
    max-width: 100%;
    width: 100%;
    th {
        border-top: 1px solid #efefef;
        font-size: 16px;
        line-height: 20px;
        padding: 8px;
        text-align: left;
        vertical-align: top;
        color: $color__darker;
    }
    td {
        border-top: 1px solid #efefef;
        font-size: 16px;
        line-height: 20px;
        padding: 8px;
        text-align: left;
        vertical-align: top;
    }
    caption {
        &+thead {
            tr {
                &:first-child {
                    th {
                        border-top: 0 none;
                    }
                    td {
                        border-top: 0 none;
                    }
                }
            }
        }
    }
    colgroup {
        &+thead {
            tr {
                &:first-child {
                    th {
                        border-top: 0 none;
                    }
                    td {
                        border-top: 0 none;
                    }
                }
            }
        }
    }
    thead {
        &:first-child {
            tr {
                &:first-child {
                    th {
                        border-top: 0 none;
                    }
                    td {
                        border-top: 0 none;
                    }
                }
            }
        }
    }
    tbody {
        &+tbody {
            border-top: 2px solid #efefef;
        }
        >tr {
            &:nth-child(2n+1) {
                >td {
                    background-color: $color__background-body;
                }
                >th {
                    background-color: $color__background-body;
                }
            }
        }
    }
    table {
        table {
            background-color: $color__light;
        }
    }
}