h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-family: $font__main;
}

h1 {
  font-size:2em;
  margin:.67em 0
}

h2 {
  font-size:1.5em;
  margin:.75em 0
}

h3 {
  font-size:1.17em;
  margin:.83em 0
}

h4 {
  font-size:1em;
  text-transform: uppercase;
}

h5 {
  font-size:.83em;
  margin:1.5em 0
}

h6 {
  font-size:.75em;
  margin:1.67em 0
}