
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* Older / Newer Posts Navigation (always hidden) */
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinite-scroll {
	.posts-navigation {
		display: none;
	}
}
.infinite-scroll.neverending {
	.site-footer {
		display: none;
	}
}
.infinity-end.neverending {
	.site-footer {
		display: block;
	}
}