<!-- wp:template-part {"slug":"header","theme":"profily","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|70","bottom":"164px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:164px"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"className":"profily-animation","layout":{"type":"constrained"}} -->
<div class="wp-block-group profily-animation" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"lineHeight":"1.4"}},"fontSize":"large"} -->
<h1 class="wp-block-heading has-text-align-center has-large-font-size" style="line-height:1.4">Sorry! The Page Was Not Found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">The page you're looking for is not available right now</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"0"}}}} -->
<div class="wp-block-buttons" style="margin-top:0"><!-- wp:button {"className":"aligncenter is-style-outline"} -->
<div class="wp-block-button aligncenter is-style-outline"><a class="wp-block-button__link wp-element-button" href="/">Back to homepage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"profily","area":"footer"} /-->