<!-- wp:template-part {"slug":"header","theme":"profily","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|20","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:post-terms {"term":"category","textAlign":"left","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"0.9"}},"className":"is-style-boxes","fontSize":"tiny"} /-->

<!-- wp:post-title {"level":1,"fontSize":"huge"} /-->

<!-- wp:post-excerpt {"fontSize":"small-plus"} /-->

<!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"40px"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center" style="margin-top:40px"><!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"blockGap":"0"}}} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:columns {"verticalAlignment":"top","isStackedOnMobile":false,"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<div class="wp-block-columns are-vertically-aligned-top is-not-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"top","width":"64px"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:64px"><!-- wp:post-author {"showBio":false,"className":"profily-avatar-only"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","style":{"spacing":{"blockGap":"5px"}}} -->
<div class="wp-block-column is-vertically-aligned-top"><!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"small"} -->
<div class="wp-block-group has-small-font-size"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} -->
<p style="font-style:normal;font-weight:700">By</p>
<!-- /wp:paragraph -->

<!-- wp:post-author {"showAvatar":false,"showBio":false,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"textColor":"meta","layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"tiny"} -->
<div class="wp-block-group has-meta-color has-text-color has-tiny-font-size"><!-- wp:post-date {"format":"M j, Y","fontSize":"extra-small"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"8px"}},"textColor":"meta"} -->
<p class="has-meta-color has-text-color" style="font-size:8px"><strong>•</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"textColor":"meta","className":"profily-read-time-counter","fontSize":"extra-small"} -->
<p class="profily-read-time-counter has-meta-color has-text-color has-extra-small-font-size">min read</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"tiny-plus"} -->
<p class="has-tiny-plus-font-size" style="font-style:normal;font-weight:700">Share</p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"iconColor":"body","iconColorValue":"#2C2C2C","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"className":"has-icon-color is-style-logos-only","layout":{"type":"flex","justifyContent":"right"}} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"#","service":"chain"} /-->

<!-- wp:social-link {"url":"#","service":"twitter"} /-->

<!-- wp:social-link {"url":"#","service":"facebook"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"minHeight":30,"minHeightUnit":"vw","isDark":false,"className":"profily-aspect-2_1 has-midground-alt-background-color"} -->
<div class="wp-block-cover is-light profily-aspect-2_1 has-midground-alt-background-color" style="min-height:30vw"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"128px"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-bottom:128px"><!-- wp:column {"width":"66%"} -->
<div class="wp-block-column" style="flex-basis:66%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"bottom":"0","top":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-content {"style":{"typography":{"lineHeight":"1.8"}},"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"40px","bottom":"40px"}},"border":{"top":{"color":"var:preset|color|border","width":"1px"},"bottom":{"color":"var:preset|color|border","width":"1px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--border);border-top-width:1px;border-bottom-color:var(--wp--preset--color--border);border-bottom-width:1px;padding-top:40px;padding-right:var(--wp--preset--spacing--40);padding-bottom:40px;padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-author {"showBio":true,"className":"is-style-default"} /--></div>
<!-- /wp:group -->

<!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"typography":{"fontStyle":"normal","fontWeight":"600"}}} -->
<div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);font-style:normal;font-weight:600"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"fontSize":"small-plus"} /-->

<!-- wp:post-navigation-link {"type":"previous","className":"is-style-button","fontSize":"tiny"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:post-navigation-link {"textAlign":"right","showTitle":true,"fontSize":"small-plus"} /-->

<!-- wp:post-navigation-link {"textAlign":"right","className":"is-style-button","fontSize":"tiny"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0px","left":"0"},"margin":{"top":"0","right":"0","bottom":"0","left":"0"}},"typography":{"lineHeight":"1.4"}},"className":"is-style-with-icon","fontSize":"medium-plus"} /-->

<!-- wp:comment-template {"className":"is-style-replies-bg"} -->
<!-- wp:post-comments-form /-->

<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"fontSize":"extra-small"} -->
<div class="wp-block-columns has-extra-small-font-size"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"fontSize":"tiny"} -->
<div class="wp-block-column has-tiny-font-size"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:comment-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"8px"}}} -->
<p style="font-size:8px"><strong>•</strong></p>
<!-- /wp:paragraph -->

<!-- wp:comment-date {"fontSize":"extra-small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content {"fontSize":"tiny-plus"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"15px","margin":{"top":"var:preset|spacing|20"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--20)"><!-- wp:comment-reply-link {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"tiny"} /-->

<!-- wp:comment-edit-link {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"tiny"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","right":"var:preset|spacing|60","bottom":"40px","left":"var:preset|spacing|60"},"margin":{"top":"0","bottom":"0"}},"border":{"radius":"24px"}},"backgroundColor":"midground","layout":{"type":"default"}} -->
<div class="wp-block-group has-midground-background-color has-background" style="border-radius:24px;margin-top:0;margin-bottom:0;padding-top:40px;padding-right:var(--wp--preset--spacing--60);padding-bottom:40px;padding-left:var(--wp--preset--spacing--60)"><!-- wp:post-comments-form /--></div>
<!-- /wp:group --></div>
<!-- /wp:comments --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:template-part {"slug":"sidebar","theme":"profily","tagName":"aside","className":"site-sidebar"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"profily","tagName":"footer","className":"site-footer"} /-->