
    
a{
    transition:all .4s ease 0s;
   }
   
 input, textarea, select {
    border-radius: 8px;
    border: 1px solid #ddd;

}


/* Navigation Menu */

.wp-block-navigation__responsive-container.has-modal-open ul.wp-block-navigation__container>li>a:hover {
    color:var(--wp--preset--color--primary)!important;
} 


.wp-block-navigation-item.has-child{
    transition: all .4s ease;
}
.wp-block-navigation-item.has-child:hover{
    cursor:pointer;
}

.wp-block-navigation__responsive-container:not(.has-modal-open) .wp-block-navigation__submenu-container{
    border-radius: 5px;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,.1);
    transition: all .4s ease;
    background: #fff;
    border-color:#fff;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content > span {
    position: relative;
    transition: 0.3s left ease-in-out;
    left: 0;
    font-size: 16px;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover > span {
    left: 5px;
}

.wp-block-navigation__responsive-container.has-modal-open ul.wp-block-navigation__container {
    width: 100%;
    gap: 25px!important;
}

.wp-block-navigation__submenu-container a:not(.wp-element-button) {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.wp-block-navigation.is-content-justification-left .wp-block-navigation__responsive-container.has-modal-open ul.wp-block-navigation__submenu-container {
    width: 100%!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.wp-block-navigation__responsive-container.is-menu-open{
    padding: 30px;
}

.wp-block-navigation.is-content-justification-left .wp-block-navigation__responsive-container.has-modal-open li.wp-block-navigation-item {
    width: 100%!important;
} 

.wp-block-navigation__responsive-container.has-modal-open li.wp-block-navigation-item {
    padding: 0;
}

.wp-block-navigation__responsive-container.has-modal-open .wp-block-navigation__responsive-container-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.wp-block-navigation__responsive-container.has-modal-open .wp-block-navigation-submenu__toggle {
    display: block!important;
    position: absolute;
    right: -25px!important;
    top: -7px;
    height: 40px;
    width: 12px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-right: 0!important;
}


.wp-block-navigation__responsive-container.has-modal-open ul.wp-block-navigation__container > li >.wp-block-navigation-submenu__toggle svg {
    pointer-events: none;
    width: 12px;
}


.wp-block-navigation__responsive-container.is-menu-open {
    /* animation: overlay-menu__fade-in-animation .1s ease-out; */
    animation-fill-mode: forwards;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: var(--wp--style--root--padding-right,2rem) var(--wp--style--root--padding-bottom,2rem) ;
    z-index: 100000;
}


.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container 
 li {
     padding: 10px 10px;
 }


.wp-block-navigation__responsive-container-close{
    top:10px;
    right:20px;
}
.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
    margin-top: 10px;
}
    
 .wp-block-navigation__responsive-container.has-modal-open ul.wp-block-navigation__submenu-container:not(.is-menu-open) {
    display: none!important;
}

 .wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]~.wp-block-navigation__submenu-container{
    display:block!important
}


/*  Post password form */

.post-password-form input{
    border: 1px solid #ddd;
}

.post-password-form input[type="submit"]{
    width: 100px;
    font-weight: 500;
    height: 40px;
}



  
@keyframes overlay-menu__fade-in-animation{
    0% {
        opacity: 0;
        transform: translateY(0.5em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Post Terms */
.wp-block-post-terms.taxonomy-post_tag * {
    opacity: 0.7;
}

.wp-block-post-terms.taxonomy-post_tag a:hover {
    opacity: 1;
    text-decoration: underline;
}


/*  POst author Bio */

.wp-block-post-author .wp-block-post-author__name{
    font-size: var(--wp--preset--font-size--tiny-plus);
    color: #000;
    text-transform: capitalize;
}
.wp-block-post-author .wp-block-post-author__bio{
    font-size: var(--wp--preset--font-size--tiny);
    margin-top: 0px;
    margin-bottom: 0px;
}


.is-style-large.wp-block-post-author .wp-block-post-author__name{
    font-size: var(--wp--preset--font-size--medium);
    color: #000;
}

/*  POsta tags */

.wp-block-post-terms.taxonomy-post_tag a{
    text-transform: capitalize;
    color: var(--wp--preset--color--black);
    font-weight: 600;
    margin-right: 10px;
    outline: none;
}
.wp-block-post-terms.taxonomy-post_tag a:hover{
    color: var(--wp--preset--color--custom-primary-color);
    text-decoration: none;
}
 

.wp-block-post-terms.taxonomy-post_tag .wp-block-post-terms__separator{
    display: none;
}

/* Post Comments */


.wp-block-comments{
    background: #F7F7F7;
    padding: 40px 40px;
    border-radius: 25px;
    margin-top: 40px!important;
}
   
   
 .wp-block-post-comments-form p{
     font-size: var(--wp--preset--font-size--tiny-plus);
 }
 .wp-block-post-comments-form a,
.wp-block-comment-author-name{
    color:#000;
   text-decoration:none;
   font-weight: 600;
   }


   
   .wp-block-post-comments-form input[type=submit]{
     background:#000;
     color: #fff;
   }

   .wp-block-post-comments-form input[type="submit"]{
    transition: all .4s ease;
}

.wp-block-post-comments-form input[type="submit"]:hover{
 background: var(--wp--preset--color--custom-primary);
 color: var(--wp--preset--color--white);
}


.wp-block-post-comments-form label {
    display: block;
    font-size: var(--wp--preset--font-size--tiny-plus);
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.comment-form-cookies-consent label {
    font-weight: 400;
}

.comment-reply-title {
    font-size: var(--wp--preset--font-size--medium-plus);
}

.wp-block-post-comments-form input[type="checkbox"] {
    width: 20px;
    margin-top: -0.25em!important;
    margin-right: 0.35em;
}

.wp-block-post-comments-form .form-submit {
    margin-top: 1.5em;
}

.wp-comment-cookies-consent {
    font-weight: normal;
}

.wp-block-comment-template ol {
    padding-left: 4rem;
}


/* Post Author */
.wp-block-post-author__avatar img {
    width: 64px;
    height: auto;
}
.wp-block-post-author{
    align-items:center;
}

.wp-block-group .wp-block-post-author__avatar img {
    width: 40px;
    height: auto;
    border-radius: 100%;
  }


/* Tag Cloud */
.wp-block-tag-cloud {
    font-weight: 600;
}


.wp-block-post-terms a{
    background-color: #eee;
    padding: 10px 16px;
    border-radius: 100px;
    line-height: 1;
    display: inline-block;
    text-decoration:none;
    margin: 3px;
}


  .wp-block-post-terms .wp-block-post-terms__separator{
      display: none;
  }

  .profily-avatar-only .wp-block-post-author__avatar img{
      width: 64px;
      height: 64px;
  }
  .profily-avatar-only .wp-block-post-author__content{
      display: none;
  }


/* Query - Pagination */
.wp-block-query-pagination {
    font-size: 16px;
}

.wp-block-query-pagination-numbers .page-numbers {
    display: inline-flex;
    width: 3em;
    height: 3em;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-weight: 600;
}

.wp-block-query-pagination-numbers .page-numbers.current {
    font-weight: bold;
    background-color: black;
    color: white;
}

/*  Single post */

   .single-post .wp-block-post-content  ul li,
   .single-post .wp-block-post-content  ol li{
    margin-bottom:10px;
   }

   .single-post .wp-block-categories-list li{
    padding: 15px 20px;
    background: #edf2f7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
   }
   .single-post .wp-block-categories-list li a:hover,
   .single-post .wp-block-post-title a:hover{
       color: var(--wp--preset--color--custom-primary-color);
   }


 .wp-block-post-author__avatar img{
       border-radius:100%;
   }

    .wp-block-post-author__byline{
       font-size:16px;
       color:#888;
   }


   .single-post .wp-block-post-author__name,
   .single-post .wp-block-post-date{
       text-transform: capitalize;
       font-weight: 600;
       font-style: normal;
   }


   /*  Post Navigation  */

   .wp-block-post-navigation-link a{
    font-size: 26px;
    line-height: 1.3em;
    margin-bottom: 25px;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
   }

   .wp-block-post-navigation-link a:hover{
    color: var(--wp--preset--color--custom-primary);
   }

   .wp-block-post-content a:where(:not(.wp-element-button)) {
    color: var(--wp--preset--color--secondary);
  }
  a:where(:not(.wp-element-button)) {
    color: var(--wp--preset--color--contrast);
    text-decoration: underline;
  }
.wp-block-post-navigation-link.is-style-button a{
    text-decoration: none;
     color: #000;
     font-size: 18px;
     line-height: 1.3em;
     margin-bottom: 25px;
     display: inline-block;
     font-weight: 600;
     text-transform: capitalize;
 }

 .wp-block-post-navigation-link.is-style-button a{
    display: inline-flex;
    align-items: center;
    padding: 8px 32px;
    border: 1px solid #ddd;
    border-radius: 100px;
    
}
.wp-block-post-navigation-link.is-style-button a{
    font-weight: 600;
    line-height: 1;
    font-size:14px;
    margin-bottom:0px;
    text-decoration:capitalize;
}

.wp-block-post-navigation-link.is-style-button a:hover{
    color: var(--wp--preset--color--custom-primary);
    border-color: var(--wp--preset--color--custom-primary);
}


/*  Block Search */

.is-style-border-with-radius.wp-block-search  :where(.wp-block-search__button-inside .wp-block-search__inside-wrapper){
    border:2px solid #F7F7F7;
    padding:5px 20px;
    border-radius:45px;
    background: #F7F7F7;
    color: #000;
}

.is-style-border-with-radius.wp-block-search .wp-block-search__button{
    padding:0px;
}

.is-style-border-with-radius.wp-block-search .wp-block-search__inside-wrapper {
    background: #fff;
    border:1px solid #ddd;
}
.is-style-border-with-radius.wp-block-search .wp-block-search__input{
    border: 0px;
    background:transparent;
    border-radius:45px;
    outline:none;
    height: 50px;
    font-size: 16px;
}

/*  POst Tags */
.is-style-outline.wp-block-tag-cloud a{
    padding:5px 18px;
    background: #F7F7F7;
    color: #000;
    font-size: 16px!important;
    text-transform: capitalize;
}

.wp-block-tag-cloud a{
    padding:5px 18px;
    margin-bottom: 5px;
    background: #F7F7F7;
    color: #000;
    font-size: 16px!important;
    text-transform: capitalize;
    border-radius:5px;
    text-decoration: none;
    font-weight: 400;
} 

.wp-block-tag-cloud a:hover{
    background: var(--wp--preset--color--black);
    color: var(--wp--preset--color--white);
}

/*  Latets post widget */

.wp-block-latest-posts li{
    margin-bottom: 20px;
    border-bottom:1px solid #eee;
    padding-bottom: 20px;
}

.wp-block-latest-posts li:last-child{
    padding-bottom: 0px;
    border-bottom:0px;
}
.wp-block-latest-posts__featured-image img{
    border-radius:5px;
}
.wp-block-latest-posts__post-date{
    margin-top: 10px;
    color: #777;
    font-weight: 600;
}

/*  POst Categories */


.wp-block-categories a{
    color:#000;
}

@media (max-width:767px) {



h1{
    font-size: 34px;
}
h3{
    font-size: 26px;
}

.wp-block-post-comments-form .comment-reply-title{
    font-size: 26px;
}
.wp-block-post-navigation-link a{
    font-size:20px;
}

.wp-container-2.wp-container-2{
    justify-content:end!important;
}


/*  Font styles */
.has-large-plus-font-size{
    font-size: 32px!important;
}

.has-large-font-size{
    font-size: 28px!important;
}

.has-medium-plus-font-size{
    font-size: 24px!important;
}

.has-small-plus-font-size{
    font-size: 22px!important;
}

.has-small-font-size{
    font-size: 18px!important;
}


}

@media only screen and (min-width: 781px)
{
    .ps-sticky, .ps-sticky {
        position: sticky;
        top: 0;
    }
    
}


@media (max-width:1024px){
    .text-lg-center{
            text-align:center
        }
    .mx-auto{
        margin-left:auto;
        margin-right:auto;
    }
    
    .justify-content-center{
        justify-content:center!important;

    }
}


.m-t--100{
margin-top: -100px!important;
position: relative;
    z-index: 2;
}

.hover_box{
    transition: all .4s ease ;
    border: 1px solid transparent;
    border-radius: 8px;
}

.hover_box:hover{
    background: var(--wp--preset--color--base);
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.04);
    border: 1px solid var(--wp--preset--color--contrast-5);
}


/*  Cover hover style */

.wp-block-cover.is-style-hover a{
    color: inherit;
}

.wp-block-cover.is-style-hover,
.wp-block-cover__background{
    transition: all .4s ease 0s;
}

.wp-block-cover.is-style-hover .wp-block-cover__inner-container{
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease 0s;
    transform: translateY(200px);
}

.wp-block-cover.is-style-hover:hover .wp-block-cover__inner-container{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.wp-block-cover.is-style-hover:hover .wp-block-cover__background{
    opacity: .5;
}
sub{
    font-size: 12px;
}

/*  Footer socials */

.list-dark-bg a,
.dark-bg-link a{
    color:inherit;
}


.list-dark-bg a:hover,
.dark-bg-link a:hover{
    color:var(--wp--preset--color--primary);
}

.dark-bg-link a{
    text-decoration: none;
}
.dark-bg-link a:hover{
    color:var(--wp--preset--color--base);
}

.mt--80{
    margin-top: -80px!important;
}

/* Post Catergories List */

    .wp-block-categories-list {
    list-style: none;
    padding-left: 0px;
}

.wp-block-categories-list li:not(:first-child) {
    margin-top: 16px;
} 


/*  Comment Author */

.wp-block-comment-author-name  a, 
.wp-block-comment-author-name  a time{
    color: #000;
    text-decoration: none;
}

.wp-block-comment-template.is-style-replies-bg .wp-block-comment-author-name  a,
.wp-block-comment-template.is-style-replies-bg .wp-block-comment-date a{
    font-size: 16px;
}

.wp-block-comment-reply-link{
    color: #777;
    text-decoration: none;
    transition: all .4s ease;
}

.wp-block-comment-template.is-style-replies-bg .wp-block-comment-reply-link{
    color: #777;
    text-decoration: none;
    background: #eee;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 40px;
    transition: all .4s ease;
}

.wp-block-comment-template.is-style-replies-bg .wp-block-comment-reply-link  a{
    transition: all .4s ease;
}

.wp-block-comment-template.is-style-replies-bg .wp-block-comment-reply-link:hover {
    background: #000;
}

.wp-block-comment-template.is-style-replies-bg .wp-block-comment-reply-link:hover  a{
    color: #fff;
}

.wp-block-comments-pagination a{
    color:#888;
}



/*  Post Nav */

.wp-block-post-navigation-link a{
    text-decoration: none;
    color: #222;
    font-size: 26px;
    line-height: 1.3em;
    margin-bottom: 15px;
    display: inline-block;
}


 .wp-block-post-navigation-link a{
    text-decoration: none;
     color: #222;
     font-size: 26px;
     line-height: 1.3em;
     margin-bottom: 15px;
     display: inline-block;
 
 }
   
 .wp-block-post-navigation-link.is-style-button a{
    display: inline-flex;
    align-items: center;
    padding: 8px 32px;
    border: 1px solid #ddd;
    border-radius: 100px;
    
}
 .wp-block-post-navigation-link.is-style-button a{
    font-weight: 600;
    line-height: 1;
    font-size:14px;
    margin-bottom:0px;
    text-decoration:capitalize;
}

.wp-block-post-navigation-link.is-style-button a:hover{
    color:var(--wp--preset--color--custom-primary-color); 
}


  /*  Block Search */

  .is-style-border-with-radius.wp-block-search  :where(.wp-block-search__button-inside .wp-block-search__inside-wrapper){
    border:2px solid #F7F7F7;
    padding:5px 20px;
    border-radius:45px;
    background: #F7F7F7;
    color: #000;
}

.is-style-border-with-radius.wp-block-search .wp-block-search__button{
   padding:0px;
}

.is-style-border-with-radius.wp-block-search .wp-block-search__inside-wrapper {
   background: #fff;
   border:1px solid #ddd;
}
.is-style-border-with-radius.wp-block-search .wp-block-search__input{
border: 0px;
background:transparent;
border-radius:45px;
outline:none;
height: 50px;
font-size: 16px;
}

.editor-styles-wrapper .wp-block-search__button.wp-element-button{
    color: #000;
}



   /*  POst Tags */
   .is-style-outline.wp-block-tag-cloud a{
    padding:5px 18px;
    background: #F7F7F7;
    color: #000;
    font-size: 16px!important;
    text-transform: capitalize;
   }

   .wp-block-tag-cloud a{
    padding:5px 18px;
    margin-bottom: 5px;
    background: #F7F7F7;
    color: #000;
    font-size: 16px!important;
    text-transform: capitalize;
    border-radius:5px;
   } 

   .wp-block-tag-cloud a:hover{
       background: var(--wp--preset--color--black);
       color: var(--wp--preset--color--white);
   }

   /*  Latets post widget */

   .wp-block-latest-posts li{
       margin-bottom: 20px;
       border-bottom:1px solid #eee;
       padding-bottom: 20px;
   }

   .wp-block-latest-posts li:last-child{
       padding-bottom: 0px;
       border-bottom:0px;
   }
   .wp-block-latest-posts__featured-image img{
       border-radius:5px;
   }
   .wp-block-latest-posts__post-date{
       margin-top: 10px;
       color: #777;
       font-weight: 600;
   }

   /*  POst Categories */

   .editor-styles-wrapper ol, 
   .editor-styles-wrapper ul{
       padding-left: 0px;
   }

   .wp-block-categories a{
       color:#000;
   }

   .wp-block-categories-list li{
    padding: 15px 20px;
    background: #edf2f7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 5px;
   }
   .wp-block-categories-list li a:hover,
   .wp-block-post-title a:hover{
       color: var(--wp--preset--color--custom-primary-color);
   }



   /*  Post Navigation  */

.wp-block-post-navigation-link a{
    text-decoration: none;
     color: #000;
     font-size: 26px;
     line-height: 1.3em;
     margin-bottom: 25px;
     display: inline-block;
     font-weight: 600;
     text-transform: capitalize;
 }

   
 .wp-block-post-navigation-link.is-style-button a{
    display: inline-flex;
    align-items: center;
    padding: 8px 32px;
    border: 1px solid #ddd;
    border-radius: 100px;
    
}
.wp-block-post-navigation-link.is-style-button a{
    font-weight: 600;
    line-height: 1;
    font-size:14px;
    margin-bottom:0px;
    text-decoration:capitalize;
}

.wp-block-post-navigation-link.is-style-button a:hover{
    color:var(--wp--preset--color--custom-primary-color); 
}


   


   /*  Social */

   .wp-block-social-links .wp-social-link{
       margin: 0px 5px;
   }

   .wp-block-social-links.is-style-logos-only .wp-social-link{
       margin: 0px 5px;
   }


/* Post Comments */



.wp-block-comments{
    background: #F7F7F7;
    padding: 40px 40px;
    border-radius: 25px;
}
   
   
 .wp-block-post-comments-form p{
     font-size: var(--wp--preset--font-size--tiny-plus);
 }

.editor-styles-wrapper  .wp-block-comment-author-name{
    color:#000;
    text-decoration:none;
    font-weight: 600;
   }
   



/* Query - Pagination */
.comments-pagination-numbers {
    font-size: 16px;
}


.wp-block-comments-pagination-numbers .page-numbers
 {
    font-weight: 600;
    margin: 0px 10px;
 }

.comments-pagination-numbers .page-numbers.current {
    font-weight: bold;
    background-color: black;
    color: white;
}
   

.wp-block-comments-pagination-next {
    margin-right:10px
}
.wp-block-comments-pagination-previous {
    margin-left:10px

}



/*  Button  */

.editor-styles-wrapper .wp-block-button a:hover{
    background: var(--wp--preset--color--custom-primary);
}

.editor-styles-wrapper .wp-block-button.is-style-hover a:hover{
    background: var(--wp--preset--color--custom-primary)!important;
}




body .is-layout-constrained > .alignwide {
    max-width: var(--wp--style--global--wide-size);
 }
body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Gallery  */

.gallery-item {
	margin: 0.8em 0;
	padding: 0 0.8em;
	/* width: 100%; */
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 3em 0 3em -0.8em;
	width: calc(100% + 1.6em);
}

@media ( min-width: 700px ) {

    .gallery-columns-3 .gallery-item {
      max-width: 33.33%;
    }
    .gallery-columns-2 .gallery-item {
      max-width:50%;
    }
    .gallery-columns-4 .gallery-item {
      max-width: 25%;
    }
    .gallery-columns-5 .gallery-item {
      max-width: 20%;
    }
    
    .gallery-columns-6 .gallery-item {
      max-width: 16.66%;
    }
    .gallery-columns-7 .gallery-item {
      max-width: 14.28%;
    }
    .gallery-columns-8 .gallery-item {
      max-width: 12.5%;
    }
    .gallery-columns-9 .gallery-item {
      max-width: 11.11%;
    }
    

}
body .wp-block-post-content.is-layout-flow > h1 + *, body .wp-block-post-content.is-layout-flow > h2 + *, 
body .wp-block-post-content.is-layout-flow > h3 + *, body .wp-block-post-content.is-layout-flow > h4 + *, 
body .wp-block-post-content.is-layout-flow > h5 + *, body .wp-block-post-content.is-layout-flow > h6 + * {
    margin-block-start: var(--wp--preset--spacing--40);
}

.is-root-container.is-layout-flow.wp-block-post-content-is-layout-flow.wp-block-post-content.block-editor-block-list__layout {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
}

.is-root-container.is-layout-constrained.wp-block-post-content-is-layout-constrained.has-global-padding.alignwide.wp-block-post-content.block-editor-block-list__layout {
    max-width: var(--wp--style--global--content-size);
}

.wp-block-navigation a:where(:not(.wp-element-button)):focus {
    text-decoration: underline dashed;
}

:root {
    --wp-admin-border-width-focus: 1.5px;
}

.skip-link.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    word-wrap: normal!important;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}