/* Shared registered block styles, used by the editor and frontend. */
.is-style-flexia-minimal-search .wp-block-search__inside-wrapper{
height:auto;
padding:0px;
}

.is-style-flexia-minimal-search  .wp-block-search__inside-wrapper:hover{
box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.08);
}
.is-style-flexia-minimal-search .wp-block-search__button{
position:static;
}

.is-style-flexia-btn-inverse .wp-block-button__link{
background:var(--wp--preset--color--white);
color:var(--wp--preset--color--black);
border-radius:inherit;
}

.is-style-flexia-btn-inverse  .wp-block-button__link:hover{
background:var(--wp--preset--color--primary);
color:var(--wp--preset--color--primary-foreground);
border-radius:inherit;
}

.is-style-flexia-btn-theme  .wp-block-button__link{
background:var(--wp--preset--color--primary);
color:var(--wp--preset--color--primary-foreground);
border-radius:inherit;
}
.is-style-flexia-btn-theme .wp-block-button__link:hover{
background:var(--wp--preset--color--tertiary);
color:var(--wp--preset--color--black);
border-radius:inherit;
}

ul.is-style-flexia-checkmark-list {
list-style-type: "\2713  ";
padding-inline-start:10px;
}
ul.is-style-flexia-checkmark-list li::marker{
font-family: inherit;
}

ul.is-style-flexia-checkmark-list li {
padding-inline-start: 1ch;
}

.is-style-flexia-separator-wide-thin-line.wp-block-separator:not(.is-style-wide):not(.is-style-dots){
max-width: var(--wp--style--global--content-size);
width: 100%;
border-width: 1px;
}

.is-style-flexia-social-rounded .wp-social-link{
border-radius: 8px;
}
.is-style-flexia-social-rounded .wp-social-link a:hover{
background:var(--wp--preset--color--primary)!important;
color:var(--wp--preset--color--primary-foreground)!important;
border-radius: 8px;
}
