.flexia-breadcrumb {
	.breadcrumb {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
		}
	}
	.flexia-breadcrumb-item {
		color: $color__text-light;
		font-size: .75rem;
		text-transform: uppercase;
		letter-spacing: 0.035em;
		a {
			color: $color__text-light;
			font-size: .75rem;
			text-transform: uppercase;
			letter-spacing: 0.035em;
		}
	}
}
.flexia-breadcrumb-item.current {
	span {
		color: $color__text-dark;
	}
}
.breadcrumb {
	li {
		a {
			&:hover {
				color: $color__text-dark;
			}
			&:focus {
				color: $color__text-dark;
			}
		}
	}
}
.breadcrumb-delimiter {
	margin: 0 7px;
	opacity: .5;
}
