%ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

%li {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.flexia-menu {
    .nav-menu {
        @extend %ul;

        li {
            a {
                @extend %li;
            }

            &.menu-item-has-children {
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -4px;
                    right: 14px;
                    display: block;
                    width: 2px;
                    height: 8px;
                    background: #4d4d4d;
                    transition: all 0.25s ease;

                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    margin-top: -1px;
                    right: 11px;
                    width: 8px;
                    height: 2px;
                    display: block;
                    background: #4d4d4d;

                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }

                &:hover {
                    &:before {
                        height: 0;
                    }
                }
            }

            ul {
                @extend %ul;

                li {
                    a {
                        @extend %li;
                    }
                }
            }
        }

        // animation
        @media screen and (min-width: 992px) {
            &.flexia-menu-dropdown-animate-fade {
                li {
                    ul {
                        transition: all 200ms;
                    }
                }
            }

            &.flexia-menu-dropdown-animate-to-top {
                li {
                    ul {
                        transform: translateY(20px);
                        transition: all 200ms;
                    }

                    &:hover {
                        > ul {
                            transform: translateY(0);
                        }
                    }
                }
            }

            &.flexia-menu-dropdown-animate-zoom-in {
                li {
                    ul {
                        transform: scale(0.8);
                        transition: all 200ms;
                    }

                    &:hover {
                        > ul {
                            transform: scale(1);
                        }
                    }
                }
            }

            &.flexia-menu-dropdown-animate-zoom-out {
                li {
                    ul {
                        transform: scale(1.2);
                        transition: all 200ms;
                    }

                    &:hover {
                        > ul {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }

    // responsive menu
    .flexia-menu-toggle {
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;

        &:before {
            content: "";
            position: relative;
            top: -2px;
            right: 0;
            display: block;
            height: 2px;
            width: 20px;
            background-color: #4d4d4d;
            transition: all 0.3s ease;
        }

        &:after {
            content: "";
            position: relative;
            top: 2px;
            right: 0;
            display: block;
            height: 8px;
            width: 20px;
            border-top: 2px solid #4d4d4d;
            border-bottom: 2px solid #4d4d4d;
            transition: all 0.3s ease;
        }

        &.flexia-menu-toggle-open {
            &::before {
                top: 0;
                transform: rotate(-45deg);
            }

            &:after {
                top: -1px;
                border: 0;
                height: 2px;
                width: 20px;
                background-color: #4d4d4d;
                transform: rotate(45deg);
            }
        }

        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    .flexia-menu-indicator {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        display: block;
        border-left: 1px solid #eeeeee;
        text-align: center;
        cursor: pointer;

        @media screen and (min-width: 992px) {
            display: none;
        }

        &:before {
            content: "";
            position: absolute;
            top: 19px;
            right: 19px;
            width: 2px;
            height: 8px;
            background: #ddd;
            transition: all 0.25s ease;
        }

        &:after {
            content: "";
            position: absolute;
            top: 22px;
            right: 16px;
            width: 8px;
            height: 2px;
            background: #ddd;
        }

        &.flexia-menu-indicator-open {
            &:before {
                height: 0;
            }
        }
    }
}
