/* Footer Menu */
.footer-navigation {
    width: 100%;
}
.flexia-footer-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    > ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    li {
        list-style: none;
        margin: 0.25em 0.5em;
        a {
            font-size: 13px;
            text-align: center;
            letter-spacing: 1px;
        }
    }
}
