.main-navigation {
    .nav-menu {
        display: flex;

        li {
            display: flex;

            > a {
                display: flex;
                align-items: center;
                font-size: 13px;
                line-height: 50px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #4d4d4d;
            }

            &.menu-item-has-children {
                &:before,
                &:after {
                    background-color: #4d4d4d;
                }
            }

            &:hover,
            &.current-menu-item,
            &.current-menu-ancestor {
                &::before,
                &:after {
                    background-color: #1b1f21;
                }

                > a {
                    color: #1b1f21;
                    background-color: #ffffff;
                }
            }

            ul {
                background-color: #ffffff;

                li {
                    > a {
                        font-size: 13px;
                        line-height: 45px;
                        color: #4d4d4d;
                    }

                    &:hover,
                    &.current-menu-item,
                    &.current-menu-ancestor {
                        &::before,
                        &:after {
                            background-color: #1b1f21;
                        }

                        > a {
                            color: #1b1f21;
                            background-color: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }

        // Responsive menu
        @media screen and (max-width: 991px) {
            display: none;
            background-color: #ffffff;

            li {
                float: none;
                display: block;

                > a {
                    display: block;
                    line-height: 42px;
                    color: #4d4d4d;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                }

                &:hover,
                &.current-menu-item,
                &.current-menu-ancestor {
                    > a {
                        color: #1b1f21;
                        background-color: #ffffff;
                    }
                }

                ul {
                    background-color: #ffffff;

                    li {
                        > a {
                            line-height: 42px;
                            color: #4d4d4d;
                            background-color: #ffffff;
                            border: 1px solid #dddddd;
                        }

                        &:hover,
                        &.current-menu-item,
                        &.current-menu-ancestor {
                            > a {
                                color: #1b1f21;
                                background-color: #ffffff;
                            }
                        }
                    }
                }

                &.flexia-header-cart {
                    display: none;
                }
            }
        }
    }

    // 3rd party & others
    a.cart-contents {
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        -webkit-transition: all 0.15s linear;
        transition: all 0.15s linear;

        &:hover {
            background-color: #262625 !important;
            color: #fff !important;
        }

        span {
            color: #fff !important;
        }
    }

    .edd-cart-contents {
        .amount,
        .count {
            padding-left: 5px;
        }
    }
}
