.main-navigation .nav-menu > li {
	padding: 0 .625em;
}
.main-navigation .nav-menu > li:not(.menu-item-has-children):last-child {
	padding-right: 0;
}
.main-navigation .nav-menu li a {
	outline: 0;
}

.main-navigation > ul > li > a {
	position: relative;
	display: block;
	text-decoration: none;
	padding: 10px 5px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #4d4d4d;

		&::after {
			height: 2px;
			width: 100%;
			background-color: #4d4d4d;
			opacity: .5;
			content: "";
			position: absolute;
			left: 0px;
			bottom: 0;
			-moz-transform: scaleX(0);
			-ms-transform: scaleX(0);
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-moz-transition: 0.3s;
			-o-transition: 0.3s;
			-webkit-transition: 0.3s;
			transition: 0.3s;
		}

		&:hover::after {
			background-color: #1b1f21; 
			-moz-transform: scaleX(1);
			-ms-transform: scaleX(1);
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
}

.main-navigation > ul > li:hover > a,
.main-navigation ul li.current-menu-item a {
    color: #1b1f21;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color: #1b1f21;

		&::after {
		background-color: #1b1f21; 
		-moz-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		}
}

.main-navigation > ul > li.has-sub > a::after {
	display: none;
}

.main-navigation > ul > li.navbar-search-menu > a::after,
.main-navigation > ul > li > a.cart-contents::after {
	display: none;
}

.main-navigation > ul > li > a.cart-contents {
	padding: 10px;
	background-color: rgba(0,0,0, .75);
	color: #fff;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.main-navigation > ul > li > a.cart-contents:hover {
	background-color: #262625;
	color: #fff;
}

.main-navigation ul li a.cart-contents:hover span {
	color: #fff;
}

.flexia-header-cart-icon {
	font-size: 1em;
}

.cart-contents .amount {
	font-size: 14px;
	padding-left: 5px;
}

.cart-contents .count {
	font-size: 12px;
	opacity: .75;
}

.edd-cart-contents .count {
	padding-left: 5px;
}


/* Submenu styles */

.main-navigation ul.sub-menu {
	background-color: #fff; 
}

.main-navigation > ul > li.menu-item-has-children {
    padding-right: 20px
}

.main-navigation ul ul li.menu-item-has-children a {
    padding-right: 20px
}

.main-navigation > ul > li.has-sub:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #4d4d4d;
    content: ''
}

.main-navigation > ul > li.has-sub:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #4d4d4d;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

.main-navigation > ul > li.has-sub:hover:before {
    top: 23px;
    height: 0
}

.main-navigation li:hover > ul > li {
    height: auto;
}

.main-navigation ul ul li a {
	padding: 17px 15px;
	width: 220px;
	font-size: 13px;
	color: #4d4d4d;
}


.main-navigation ul ul li.has-sub:after {
    position: absolute;
    top: 50%;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #4d4d4d;
    content: ''
}
.main-navigation ul ul li.has-sub:before {
    position: absolute;
    top: calc(50% - 3px);
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #4d4d4d;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}
.main-navigation ul ul > li.has-sub:hover:before {
    top: 17px;
    height: 0;
}

.main-navigation ul ul ul li.current-menu-item a {
    border-left: 1px solid #333
}
.main-navigation > ul > li.has-sub > ul > li.current-menu-item > a,
.main-navigation > ul ul > li.has-sub > ul > li.current-menu-item> a {
    border-top: 1px solid #333
}

@media screen and (min-width: 768px) {

.main-navigation ul.sub-menu {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.main-navigation ul ul li:hover > a, .main-navigation ul ul li a:hover {
	color: #1b1f21;
	background-color: rgba(0,0,0, .05);
}


.main-navigation ul ul li:last-child > a,
.main-navigation ul ul li.last-item > a {
    border-bottom: 0
}

}

.flexia-nav-btn {
	right: 10px;
	top: calc(50% - 25px);
}

.flexia-logobar-stacked + .flexia-navbar .flexia-nav-btn {
	right: calc(50% - 30px);
}

@media screen and (max-width: 767px) {
.main-navigation .flexia-primary-menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: 1em;
	background-color: #fff;
}

.main-navigation ul li {
	padding: 0;
	margin: 0.5em 0;
	border: none;
}

.main-navigation ul li ul {
	padding-left: 1em;
}

.main-navigation li:hover > ul > li {
	height: auto;
}

.main-navigation > ul > li.has-sub {
	padding-right: .625em;
}

.main-navigation .nav-menu > li a {
	padding: 15px;
	border: 1px solid rgba(0,0,0, .135);
	display: block;
	width: 100%;
}

.main-navigation ul li a:hover, .main-navigation ul li a:focus, .main-navigation ul li.current-menu-item a  {
	background-color: #262625;
	color: #fff;
}

.main-navigation ul li a.cart-contents:hover span {
	color: #fff;
}

.main-navigation ul ul li a {
    padding-left: 25px;
}

.main-navigation ul ul ul li a {
    padding-left: 35px;
}

.main-navigation ul ul li a {
    color: #333;
    background: none;
}

.flexia-nav-btn:after {
    border-top: 2px solid #4d4d4d;
    border-bottom: 2px solid #4d4d4d;
}
.flexia-nav-btn:before {
    background-color: #4d4d4d;
}

.flexia-nav-btn.menu-opened:after, .flexia-nav-btn.menu-opened:before  {
    background-color: #4d4d4d;
}

.main-navigation .submenu-button {
	border-left: 1px solid rgba(0,0,0, .135);
	height: 45px;
	width: 45px;
	right: .625em;
}

.main-navigation ul ul .submenu-button {
	right: 0;
}

.main-navigation .submenu-button:hover, .main-navigation .submenu-button.submenu-opened {
    background: #262626
}

.main-navigation .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    background: #ddd;
}
.main-navigation .submenu-button.submenu-opened:after {
    background: #fff
}
.main-navigation .submenu-button:before {
    top: 19px;
    right: 22px;
    width: 2px;
    height: 8px;
    background: #ddd;
}

}