.nav-menu, .nav-menu ul {
	margin: 0;
	padding: 0;
}

.main-navigation ul,
.main-navigation ul li,
.main-navigation ul li a,
.main-navigation #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.main-navigation > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.main-navigation {
    font-family: sans-serif;
    background: #333
}
.main-navigation > ul > li {
    float: left
}
.main-navigation > ul > li > a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddd;
    font-weight: 700;
}
.main-navigation > ul > li:hover > a,
.main-navigation ul li.current-menu-item a {
    color: #fff
}
.main-navigation > ul > li:hover,
.main-navigation ul li.current-menu-item:hover,
.main-navigation ul li.current-menu-item,
.main-navigation ul li.has-sub.current-menu-item:hover {
    background: #448D00!important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}
.main-navigation > ul > li.has-sub > a {
    padding-right: 30px
}
.main-navigation > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}
.main-navigation > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}
.main-navigation > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0
}
.main-navigation ul ul {
    position: absolute;
    left: -9999px
}
.main-navigation ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #333;
    transition: all .25s ease
}
.main-navigation ul ul li:hover {} .main-navigation li:hover > ul {
    left: auto
}
.main-navigation li:hover > ul > li {
    height: 35px
}
.main-navigation ul ul ul {
    margin-left: 100%;
    top: 0
}
.main-navigation ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}
.main-navigation ul ul li:last-child > a,
.main-navigation ul ul li.last-item > a {
    border-bottom: 0
}
.main-navigation ul ul li:hover > a,
.main-navigation ul ul li a:hover {
    color: #fff
}
.main-navigation ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}
.main-navigation ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}
.main-navigation ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0
}
.main-navigation ul ul li.has-sub:hover,
.main-navigation ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}
.main-navigation ul ul ul li.current-menu-item a {
    border-left: 1px solid #333
}
.main-navigation > ul > li.has-sub > ul > li.current-menu-item > a,
.main-navigation > ul ul > li.has-sub > ul > li.current-menu-item> a {
    border-top: 1px solid #333
}

.flexia-nav-btn {
	display: none;
}
@media screen and (max-width: 767px) {

	.flexia-nav-btn {
		display: block;
	}
	.main-navigation .flexia-primary-menu {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		padding: 1em;
		border-top: 1px solid rgba(0,0,0, .05);
		background-color: #fff;
	}

    .main-navigation {
        width: 100%
    }
    .main-navigation ul {
        width: 100%;
        display: none
    }
    .main-navigation ul li {
        width: 100%;
        border-top: 1px solid #444
    }
    .main-navigation ul li:hover {
        background: #363636;
    }
    .main-navigation ul ul li,
    .main-navigation li:hover > ul > li {
        height: auto
    }
    .main-navigation ul li a,
    .main-navigation ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    .main-navigation > ul > li {
        float: none
    }
    .main-navigation ul ul li a {
        padding-left: 25px
    }
    .main-navigation ul ul li {
        background: #333!important;
    }
    .main-navigation ul ul li:hover {
        background: #363636!important
    }
    .main-navigation ul ul ul li a {
        padding-left: 35px
    }
    .main-navigation ul ul li a {
        color: #ddd;
        background: none
    }
    .main-navigation ul ul li:hover > a,
    .main-navigation ul ul li.current-menu-item > a {
        color: #fff
    }
    .main-navigation ul ul,
    .main-navigation ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
    .main-navigation > ul > li.has-sub > a:after,
    .main-navigation > ul > li.has-sub > a:before,
    .main-navigation ul ul > li.has-sub > a:after,
    .main-navigation ul ul > li.has-sub > a:before {
        display: none
    }
    .main-navigation #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }
    .flexia-nav-btn {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }
    .flexia-nav-btn:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 8px;
        width: 20px;
        border-top: 2px solid #4d4d4d;
        border-bottom: 2px solid #4d4d4d;
        content: ''
    }
    .flexia-nav-btn:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #4d4d4d;
        content: ''
    }
    .flexia-nav-btn.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #4d4d4d;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .flexia-nav-btn.menu-opened:before {
        top: 23px;
        background: #4d4d4d;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .main-navigation .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }
    .main-navigation .submenu-button.submenu-opened {
        background: #262626
    }
    .main-navigation ul ul .submenu-button {
        height: 34px;
        width: 34px
    }
    .main-navigation .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }
    .main-navigation ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }
    .main-navigation .submenu-button.submenu-opened:after {
        background: #fff
    }
    .main-navigation .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }
    .main-navigation ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }
    .main-navigation .submenu-button.submenu-opened:before {
        display: none
    }
    .main-navigation ul ul ul li.current-menu-item a {
        border-left: none
    }
    .main-navigation > ul > li.has-sub > ul > li.current-menu-item > a,
    .main-navigation > ul ul > li.has-sub > ul > li.current-menu-item > a {
        border-top: none
    }
}