.nav-links {
  .nav-previous {
    background-color: $color__light;
    border: 1px solid $color__nav-links;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    position: fixed;
    text-overflow: ellipsis;
    text-transform: uppercase;
    top: calc(50% - 25px);
    white-space: nowrap;
    width: auto;
    max-width: 500px;
    z-index: 999;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    left: 0;
    transform: translateX(-100%);
    margin-left: 40px;
    a {
      outline: none;
      transition: all .3s;
      -webkit-transition: all .3s;
      padding-right: 40px;
    }
    &:after {
      content: "";
      background-image: url('../../img/icons/left-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 10px;    
      padding-right: 20px;
    }
    &:hover {
      transform: translateX(-40px);
    }
  }
  .nav-next {
    background-color: $color__light;
    border: 1px solid $color__nav-links;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    position: fixed;
    text-overflow: ellipsis;
    text-transform: uppercase;
    top: calc(50% - 25px);
    white-space: nowrap;
    width: auto;
    max-width: 500px;
    z-index: 999;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    right: 0;
    padding-right: 25px;
    transform: translateX(100%);
    margin-right: 40px;
    a {
      outline: none;
      transition: all .3s;
      -webkit-transition: all .3s;
      padding-left: 40px;
    }
    &:before {
      content: "";
      background-image: url('../../img/icons/right-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 10px;    
      padding-right: 20px;
    }
    &:hover {
      transform: translateX(40px);
    }
  }
}
@media all and (max-width: 600px) {
  .nav-links {
    .nav-previous {
      position: relative;
      transform: none;
      margin: 1em auto;
      border: none;
      padding: 0;
      height: auto;
      line-height: 2;
      a {
        padding-left: 25px;
        padding-right: 0;
      }
      &:hover {
        transform: none;
      }
      &::after {
        padding-left: 10px;
        right: auto;
        left: 0;
        font-size: inherit;
        height: auto;
        width: auto;
      }
    }
    .nav-next {
      position: relative;
      transform: none;
      margin: 1em auto;
      border: none;
      padding: 0;
      height: auto;
      line-height: 2;
      a {
        padding-left: 25px;
        padding-right: 0;
      }
      &:hover {
        transform: none;
      }
      &::before {
        padding-left: 10px;
        right: auto;
        left: 0;
        font-size: inherit;
        height: auto;
        width: auto;
      }
    }
  }
}