.nav-links .nav-previous, .nav-links .nav-next {
  background-color: #fff;
  border: 1px solid #e9e9ea;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  position: fixed;
  text-overflow: ellipsis;
  text-transform: uppercase;
  top: calc(50% - 25px);
  white-space: nowrap;
  width: auto;
  max-width: 500px;
  z-index: 999;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.nav-links .nav-previous {
  left: 0;
  padding-left: 25px;
  transform: translateX(-100%);
  margin-left: 40px;
}

.nav-links .nav-next {
  right: 0;
  padding-right: 25px;
  transform: translateX(100%);
  margin-right: 40px;
}

.nav-links .nav-previous a, .nav-links .nav-next a {
  outline: none;
  transition: all .3s;
  -webkit-transition: all .3s;
}


.nav-links .nav-previous a{
  padding-right: 50px;
}

.nav-links .nav-next a{
  padding-left: 40px;
}

.nav-links .nav-next:before, .nav-links .nav-previous:after {
  background-color: #fff;
  color: #e9e9ea;
  font-family: "FontAwesome";
  font-size: 36px;
  height: 60px;
  width: 40px;
  position: absolute;
  top: 0;
}

.nav-links .nav-previous:after {
  content: "\f104";
  padding-left:13px; 
  right: 0;
}

.nav-links .nav-next:before {
  content: "\f105";
  padding-left: 15px;
  left: 0;
}

.nav-links .nav-previous:hover {
  transform: translateX(-40px);
}

.nav-links .nav-next:hover {
  transform: translateX(40px);
}

@media all and (max-width: 600px) {
.nav-links .nav-previous, .nav-links .nav-next {
  position: relative;
  transform: none;
  margin: 1em auto;
  border: none;
  padding: 0;
  height: auto;
  line-height: 2;
}

.nav-links .nav-next a, .nav-links .nav-previous a {
  padding-left: 25px;
  padding-right: 0;
}

.nav-links .nav-previous:hover, .nav-links .nav-next:hover {
  transform: none;
}

.nav-links .nav-next::before, .nav-links .nav-previous::after {
  padding-left: 10px;
  right: auto;
  left: 0;
  font-size: inherit;
  height: auto;
  width: auto;
}

}