.post-pagination-container {
  margin: 3em 0;
}
.post-pagination {
  display: flex;
  margin: 1em 0;
  padding: 0;
  justify-content: flex-start;
  flex-flow: row nowrap;
  li {
    list-style: none;
    margin-right: 5px;
  }
  >li {
    >a {
      position: relative;
      padding: 8px 12px;
      margin-bottom: 0;
      line-height: 1;
      text-align: center;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: $color__dark-op-75;
      color: $color__light;
      outline: 0;
      text-decoration: none;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      &:hover {
        background: $color__link;
        color: $color__light;
      }

      svg {
        height: 1em;
        fill: #fff;
        margin-bottom: -3px;
      }
    }
    >span {
      position: relative;
      padding: 8px 12px;
      margin-bottom: 0;
      line-height: 1;
      text-align: center;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: $color__dark-op-75;
      color: $color__light;
      outline: 0;
      text-decoration: none;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
    }
  }
  .next {
    padding: 8px 20px;
  }
  .prev {
    padding: 8px 20px;
  }
  >.active {
    >a {
      background: rgba(0,0,0, .25);
      color: $color__light;
      cursor: default;
      z-index: 2;
      &:focus {
        background: rgba(0,0,0, .25);
        color: $color__light;
        cursor: default;
        z-index: 2;
      }
      &:hover {
        background: rgba(0,0,0, .25);
        color: $color__light;
        cursor: default;
        z-index: 2;
      }
    }
    >span {
      background: rgba(0,0,0, .25);
      color: $color__light;
      cursor: default;
      z-index: 2;
      &:focus {
        background: rgba(0,0,0, .25);
        color: $color__light;
        cursor: default;
        z-index: 2;
      }
      &:hover {
        background: rgba(0,0,0, .25);
        color: $color__light;
        cursor: default;
        z-index: 2;
      }
    }
  }
}