<!-- wp:template-part {"slug":"header","theme":"flexia","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:pattern {"slug":"flexia/archieve-page-header"} /-->

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|30"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|30"},"border":{"radius":"8px"}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-secondary-background-color has-background" style="border-radius:8px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--30)"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search blog","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|x-small"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":6,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"capitalize"}},"fontSize":"x-medium"} -->
    <h6 class="wp-block-heading has-x-medium-font-size" style="font-style:normal;font-weight:500;text-transform:capitalize">Categories</h6>
    <!-- /wp:heading -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-small","bottom":"var:preset|spacing|xx-small"}},"color":{"background":"#d2def2"}}} -->
    <hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background" style="margin-top:var(--wp--preset--spacing--xx-small);margin-bottom:var(--wp--preset--spacing--xx-small);background-color:#d2def2;color:#d2def2"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:categories /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":6,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"capitalize"}},"fontSize":"x-medium"} -->
    <h6 class="wp-block-heading has-x-medium-font-size" style="font-style:normal;font-weight:500;text-transform:capitalize">Recent Posts</h6>
    <!-- /wp:heading -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-small","bottom":"var:preset|spacing|xx-small"}},"color":{"background":"#d2def2"}}} -->
    <hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background" style="margin-top:var(--wp--preset--spacing--xx-small);margin-bottom:var(--wp--preset--spacing--xx-small);background-color:#d2def2;color:#d2def2"/>
    <!-- /wp:separator -->
    
    <!-- wp:latest-posts {"postsToShow":3,"excerptLength":12,"displayPostDate":true,"displayFeaturedImage":true,"featuredImageAlign":"left","featuredImageSizeWidth":82,"featuredImageSizeHeight":92,"addLinkToFeaturedImage":true} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":6,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"capitalize"}},"fontSize":"x-medium"} -->
    <h6 class="wp-block-heading has-x-medium-font-size" style="font-style:normal;font-weight:500;text-transform:capitalize">tags</h6>
    <!-- /wp:heading -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-small","bottom":"var:preset|spacing|xx-small"}},"color":{"background":"#d2def2"}}} -->
    <hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background" style="margin-top:var(--wp--preset--spacing--xx-small);margin-bottom:var(--wp--preset--spacing--xx-small);background-color:#d2def2;color:#d2def2"/>
    <!-- /wp:separator -->
    
    <!-- wp:tag-cloud {"className":"is-style-flexia-tag-pill"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":6,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"capitalize"}},"fontSize":"x-medium"} -->
    <h6 class="wp-block-heading has-x-medium-font-size" style="font-style:normal;font-weight:500;text-transform:capitalize">Social Links</h6>
    <!-- /wp:heading -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xx-small","bottom":"var:preset|spacing|xx-small"}},"color":{"background":"#d2def2"}}} -->
    <hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background" style="margin-top:var(--wp--preset--spacing--xx-small);margin-bottom:var(--wp--preset--spacing--xx-small);background-color:#d2def2;color:#d2def2"/>
    <!-- /wp:separator -->
    
    <!-- wp:social-links {"iconColor":"primary","iconColorValue":"#0057FF","iconBackgroundColor":"background","iconBackgroundColorValue":"#FFFFFF","className":"is-style-flexia-social-rounded"} -->
    <ul class="wp-block-social-links has-icon-color has-icon-background-color is-style-flexia-social-rounded"><!-- wp:social-link {"url":"#","service":"facebook"} /-->
    
    <!-- wp:social-link {"url":"#","service":"instagram"} /-->
    
    <!-- wp:social-link {"url":"#","service":"linkedin"} /-->
    
    <!-- wp:social-link {"url":"#","service":"twitter"} /-->
    
    <!-- wp:social-link {"url":"#","service":"youtube"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:query {"query":{"perPage":"2","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-query alignwide"><!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group"><!-- wp:post-template {"layout":{"type":"grid","columnCount":1}} -->
    <!-- wp:group {"style":{"border":{"radius":"8px"},"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"className":"is-style-hover-shadow is-style-flexia-hover-shadow","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-hover-shadow is-style-flexia-hover-shadow" style="border-radius:8px;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-featured-image {"style":{"border":{"radius":"4px"}}} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|x-small"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"isLink":true,"fontSize":"medium-plus"} /-->
    
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:post-date {"fontSize":"small"} /-->
    
    <!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|text"}}}},"textColor":"text","fontSize":"small"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-author {"className":"is-style-author-rounded is-style-flexia-author-rounded"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->
    
    <!-- wp:spacer {"height":"var:preset|spacing|40","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
    <div style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"layout":{"type":"flex","justifyContent":"left"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"flexia","area":"footer"} /-->