<!-- wp:template-part {"slug":"header","area":"header","theme":"flexia"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-bottom:0px">
  <!-- wp:pattern {"slug":"flexia-patterns/banner"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/clients"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/about"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/funfacts"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/services"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/projects"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/cta"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/pricing"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/tesimonials"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/team"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/faq"} /-->
  <!-- wp:pattern {"slug":"flexia-patterns/blog"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","theme":"flexia"} /-->