<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-bottom:0px"><!-- wp:template-part {"slug":"header","theme":"flexia","area":"header"} /-->
<!-- wp:pattern {"slug":"flexia/banner"} /-->
<!-- wp:pattern {"slug":"flexia/clients"} /-->
<!-- wp:pattern {"slug":"flexia/about"} /-->
<!-- wp:pattern {"slug":"flexia/funfacts"} /-->
<!-- wp:pattern {"slug":"flexia/services"} /-->

<!-- wp:template-part {"slug":"footer","theme":"flexia","area":"footer"} /--></div>
<!-- /wp:group -->