/* Site Footer */
.flexia-site-footer {
	background-color: $color__dark;
	padding: 0.8em 0;
	.site-info {
		color: $color__footer_copyright;
		font-size: .8em;
		margin-top: .5em;
	}
}
.flexia-colophon-inner {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
	padding: .5em 0;
	align-items: flex-start;

	.widget {
		flex: 1 1 auto;
		min-width: 250px;
		margin: 1em;
		background-color: transparent;
		box-shadow: none;

		.widget-title {
			color: $color__light;
		}

		a {
			color: $color__footer-widget-link;
		}
	}
}
.flexia-footer-widget-area {
	padding: .5em;

	.fleixa-footer-widget-area-wrap {
		flex-basis: 100%;
	}
}
.flexia-back-to-top {
	font-size: 20px;
	background: rgba(0,0,0,.5);
	color: $color__light;
	border-radius: 3px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	z-index: 10;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	&:visited {
		font-size: 20px;
		background: rgba(0,0,0,.5);
		color: $color__light;
		border-radius: 3px;
		position: fixed;
		bottom: 30px;
		right: 30px;
		line-height: 40px;
		width: 40px;
		text-align: center;
		z-index: 10;
		-webkit-transition: opacity .3s ease-in-out;
		transition: opacity .3s ease-in-out;
	}
	&:focus {
		background: $color__dark-op-75;
		color: $color__light;
	}
	&:hover {
		background: $color__dark-op-75;
		color: $color__light;
	}
}
@media all and (min-width: 768px) {
	.flexia-colophon-inner {
		.widget {
			flex: 1 1 30%;
		}
	}
}
@media all and (min-width: 960px) {
	.flexia-colophon-inner {
		.widget {
			flex: 1 1 20%;
		}
	}
}