/* Site Footer */
.flexia-site-footer {
    background-color: $color__footer-background;
    padding: 0.8em 0;
    
    .site-info {
        color: $color__footer-copyright;
        font-size: 0.8em;
        margin-top: 0.5em;
    }
}
.flexia-colophon-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 0;

    .widget {
        margin: 1em;
        color: $color__footer-widget-text;
        background-color: transparent;
        box-shadow: none;

        .widget-title {
            color: $color__light;
        }

        a {
            color: $color__footer-widget-link;

            &:hover {
                color: $color__footer-widget-link-hover;
            }
        }
    }
}
.flexia-footer-widget-area {
    background-color: $color__footer-widget-background;
    padding: 0.5em;

    .fleixa-footer-widget-area-wrap {
        flex: 1;
        overflow: hidden;
    }
}

.flexia-back-to-top {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: $color__light;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    z-index: 10;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    svg {
        fill: #fff;
        height: 16px;
        width: auto;
    }
    
    &:visited {
        font-size: 20px;
        background: rgba(0, 0, 0, 0.5);
        color: $color__light;
        border-radius: 3px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        z-index: 10;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    &:focus {
        background: $color__dark-op-75;
        color: $color__light;
    }
    &:hover {
        background: $color__dark-op-75;
        color: $color__light;
    }
}
@media all and (max-width: 960px) {
    .fleixa-footer-widget-area-wrap {
        flex-basis: 50% !important;
    }
}
@media all and (max-width: 768px) {
    .fleixa-footer-widget-area-wrap {
        flex-basis: 100% !important;
    }
}
