.flexia-colophon-inner {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
}

.flexia-colophon-inner .widget {
	flex: 1 1 auto;
}

.flexia-footer-widget-area {
  padding: .5em;
}

.flexia-colophon-inner .widget {
	margin: 1em;
}

.flexia-back-to-top, .flexia-back-to-top:visited {
	font-size: 20px;
	background: rgba(0,0,0,.5);
	color: #fff;
	border-radius: 3px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	z-index: 10;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.flexia-back-to-top:focus, .flexia-back-to-top:hover {
	background: rgba(0,0,0,.75);
	color: #fff;
}

@media all and (min-width: 768px) {
.flexia-colophon-inner .widget {
	flex: 1 1 30%;
}
}

@media all and (min-width: 960px) {
.flexia-colophon-inner .widget {
	flex: 1 1 20%;
}
}