.flexia-container {
  margin: 0 auto;
  width: 100%;
}

.flexia-container.width {
  width: 88%;
}

.flexia-container.width.max {
  max-width: 1200px;
  width: 88%;
}

.flexia-row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flexia-column {
  position: relative;
  min-height: 1px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

[class*="flexia-column-"] {
  padding: 20px;
}

@media all and(min-width: 481px) {
  [class*="flexia-column-"] {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
    @for $flex from 1 through 12 {
    .flexia-column-#{$flex} {
      flex: $flex;
    }
  }
  .full-width {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .space-off {
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}