.site-header {
	position: relative;
	z-index: 1;
}


.flexia-header-widget-inner {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
}

.flexia-header-widget-inner .widget {
	flex: 1 1 auto;
	background-color: transparent;
	color: #fff;
}

.flexia-header-widget-area .widget-title {
	color: #fff;
}

.flexia-header-widget-inner .widget a {
	color: #F56A6A;
}

.flexia-header-widget-area {
	padding: .5em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 500ms ease;
	transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease;
	transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.flexia-header-widget-area.header-widget-open {
	overflow-y: scroll;
	max-height: 100%;
	z-index: 99999;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.flexia-header-widget-inner .widget {
	margin: 1em;
	padding: 1em;
	min-width: 250px;
}

@media all and (min-width: 768px) {
.flexia-header-widget-inner .widget {
	flex: 1 1 30%;
}
}

@media all and (min-width: 960px) {
.flexia-header-widget-inner .widget {
	flex: 1 1 20%;
}
}

@media all and (max-width: 959px) {
.header-widget-toggle:not(.toggle-collapsed) {
	top: 20px;
	bottom: auto;
}
}

/* Header widget toggle */

.header-widget-toggle {
	cursor: pointer;
	height: 40px;
	position: absolute;
	width: 40px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99999;
	bottom: -40px;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.header-widget-toggle:hover {
	background-color: rgba(0,0,0, .75);
}

.header-widget-toggle.toggle-collapsed {
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.admin-bar .header-widget-toggle.toggle-collapsed {
	margin-bottom: -32px;
}

.header-widget-toggle::before, .header-widget-toggle::after {
	background: #fff;
	content: '';
	height: 1px;
	left: 13px;
	position: absolute;
	top: 20px;
	width: 15px;
	-webkit-transition: -webkit-transform 500ms ease;
	transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease;
	transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.header-widget-toggle:after {
  -webkit-transform-origin: center;
          transform-origin: center;
}
.header-widget-toggle.toggle-collapsed:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.header-widget-toggle.toggle-collapsed:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Flexia Topbar */

.flexia-topbar{
	position: relative;
}

.flexia-topbar-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.flexia-topbar-content {
	font-size: .8em;
	color: #cbced3;
}

.flexia-topbar-content {
	font-size: .8em;
	color: #cbced3;
	padding: .5em 0;
	text-align: center;
}

.flexia-topbar-content p {
	margin: 0;
}

