/* Header widget toggle */
/* Flexia Logobar */
/* Flexia Topbar */
.site-header {
	position: relative;
	z-index: 10;
}
.flexia-header-widget-inner {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
	.widget {
		flex: 1 1 auto;
		background-color: transparent;
		color: $color__light;
		margin: 1em;
		padding: 1em;
		min-width: 250px;
		a {
			color: $color__link;
		}
	}
}
.flexia-header-widget-area {
	.widget-title {
		color: $color__light;
	}
	padding: .5em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 500ms ease;
	transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease;
	transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.flexia-header-widget-area.header-widget-open {
	overflow-y: scroll;
	max-height: 100%;
	z-index: 99999;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	.header-widget-toggle {
		bottom: 0;
	}
}
.header-widget-toggle {
	cursor: pointer;
	height: 40px;
	position: absolute;
	width: 40px;
	right: 0;
	background-color: $color__dark-op-50;
	z-index: 99999;
	bottom: -40px;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		background-color: $color__dark-op-75;
	}
	&::before {
		background: #fff;
		content: '';
		height: 1px;
		left: 13px;
		position: absolute;
		top: 20px;
		width: 15px;
		-webkit-transition: -webkit-transform 500ms ease;
		transition: -webkit-transform 500ms ease;
		transition: transform 500ms ease;
		transition: transform 500ms ease, -webkit-transform 500ms ease;
	}
	&::after {
		background: #fff;
		content: '';
		height: 1px;
		left: 13px;
		position: absolute;
		top: 20px;
		width: 15px;
		-webkit-transition: -webkit-transform 500ms ease;
		transition: -webkit-transform 500ms ease;
		transition: transform 500ms ease;
		transition: transform 500ms ease, -webkit-transform 500ms ease;
	}
	&:after {
		-webkit-transform-origin: center;
		transform-origin: center;
	}
}
.header-widget-toggle.toggle-collapsed {
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	&:after {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	&:before {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
.admin-bar {
	.header-widget-toggle.toggle-collapsed {
		margin-bottom: -32px;
	}
}
.flexia-logobar {
	display: flex;
	justify-content: center;
	align-content: center;
	.site-branding {
		text-align: center;
	}
}
.flexia-logobar-container {
	flex: 1 1 auto;
}
.flexia-logobar-stacked {
	&+.flexia-navbar {
		.flexia-navbar-inner {
			justify-content: center;
		}
	}
}
.flexia-topbar {
	position: relative;
	background-color: $color__dark;
}
.flexia-topbar-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.flexia-topbar-content {
	font-size: .8em;
	color: $color__light;
	font-size: .8em;
	color: $color__light;
	padding: .5em 0;
	text-align: center;
	p {
		margin: 0;
	}
}
@media all and (min-width: 768px) {
	.flexia-header-widget-inner {
		.widget {
			flex: 1 1 30%;
		}
	}
}
@media all and (min-width: 960px) {
	.flexia-header-widget-inner {
		.widget {
			flex: 1 1 20%;
		}
	}
}
@media all and (max-width: 959px) {
	.header-widget-toggle {
		&:not(.toggle-collapsed) {
			top: 20px;
			bottom: auto;
		}
	}
}
@media all and (max-width: 767px) {
	.flexia-logobar-inline {
		margin-left: 0;
	}
}