.flexia-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flexia-wrapper > * {
  flex: 1 100%;
}

.flexia-topbar {
  background: #333;
  color: #fff;
}

.flexia-navbar {
  background: #ddd;
}

.content-area {
  order: 1;
  overflow: hidden;
  max-width: 100%;
}

.flexia-sidebar-left {
  order: 2;
}

.flexia-sidebar-right {
  order: 3;
}

.footer-widget-area {
  background: #ddd;
}

.site-footer {
  background: #666;
}

.flexia-navbar {
  background: #ddd;
}

.flexia-sidebar-left {
  background: gold;
}

.flexia-sidebar-right {
  background: hotpink;
}


@media all and (min-width: 768px) {
  .content-area {
    flex: 3 0px;
  }

  .flexia-sidebar-left {
    order: 1;
  }

  .content-area {
    order: 2;
  }

  .flexia-sidebar-right {
    order: 3;
  }

}

@media all and (min-width: 768px) and (max-width: 959px) {

  .content-area {
    flex: 1 1 100%;
    order: 1;
  }

 .flexia-sidebar-left {
    flex: 1 1 auto;
    order: 2;
  }

  .flexia-sidebar-right {
    flex: 1 1 auto;
    order: 3;
  }
}

@media all and (min-width: 960px) {
  .flexia-sidebar-left {
    flex: 0 0 250px;
  }

  .flexia-sidebar-right {
    flex: 0 0 250px;
  }
}
