.flexia-navbar {
	width: 100%;
}

.flexia-navbar-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.site-branding {
	flex: 0 0 auto;
	margin: 0 1em;
}

.site-branding .custom-logo-link .custom-logo {
	height: 65px;
	padding: 15px;
	vertical-align: middle;
	width: auto;
}

.main-navigation {
	margin: 0 1em;
	flex: 0 0 auto;
}