.flexia-navbar {
    width: 100%;
    color: $color__dark;
    z-index: 99;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    .flexia-navbar-container {
        position: relative;
        .flexia-navbar-inner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            min-height: 40px;
            .search-form {
                display: flex;
                justify-content: center;
                justify-items: center;
                align-content: center;
                flex-flow: row nowrap;
                .screen-reader-text {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                }
                .search-field {
                    order: 2;
                    background-color: transparent;
                    border: 0px !important;
                    font-size: .9em;
                }
                .search-submit {
                    background-color: transparent;
                    color: inherit;
                    order: 1;
                }
            }
            .flexia-social-links {
                list-style: none;
                padding: 0;
                margin: auto;
                align-self: center;
                li {
                    display: inline-block;
                    margin: 0px 5px 0px 0;
                    a {
                        padding: 5px;
                        display: block;
                    }
                }
            }
            @media all and (max-width: 480px) {
                flex-flow: row wrap;
            }
        }
    }
}

.flexia-header-1 {
    .flexia-navbar-inner {
        justify-content: end !important;
        .flexia-logobar-inline {
            margin: 0 auto 0 0;
        }
        .flexia-social-links {
            margin: 0 auto 0 0 !important;
        }
        .main-navigation {
            margin: unset !important;
        }
        .flexia-menu.header-icons {
            margin: unset !important;
            @media all and (max-width: 991px) {
                margin-left: auto !important;
                margin-right: 1em !important;
            }
        }
    }
}

.flexia-header-2 {
    .flexia-navbar-inner {
        justify-content: flex-start !important;
        .flexia-logobar-inline {
            margin: unset !important;
            order: 1;
        }
        .main-navigation {
            margin: unset !important;
            order: 2;
        }
        .flexia-menu.header-icons {
            margin: 0 0 0 auto !important;
            order: 3;
        }
        .flexia-social-links {
            margin: unset !important;
            order: 4;
        }
    }
}

.flexia-header-3 {
    .flexia-navbar-inner {
        justify-content: center !important;
        .flexia-logobar-inline {
            margin: unset !important;
            order: 1;
        }
        .main-navigation {
            margin: 0 !important;
            order: 2;
            flex: 0 0 auto;
        }
        .flexia-menu.header-icons {
            margin: 0 0 0 auto !important;
            order: 3;
        }
        .flexia-social-links {
            margin: unset !important;
            order: 4;
        }
    }
    &.stacked-enable {
        .stacked-sticky-logo {
            display: flex;
        }
    }
}

.flexia-header-4 {
    .flexia-navbar-container {
        .flexia-container {
            flex-direction: column !important;
            .flexia-header-top {
                display: flex;
                justify-content: space-between;
                .flexia-social-links {
                    width: 300px;
                    margin: 0px;
                }
                .flexia-menu {
                    width: 300px;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}

.flexia-logobar-inline {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 1em;
    max-width: 450px;
    padding: 10px 0px;
    .site-description {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        word-wrap: normal !important;
    }
    @media all and (max-width: 480px) {
        margin: 0;
        max-width: 60%;
    }
}

.site-branding {
    .site-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 1em 0;
        font-weight: 700;
        a {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 1em 0;
            font-weight: 700;
        }
    }
    .flexia-header-logo {
        display: flex;
        align-items: center;
        >img {
            width: auto;
            max-height: 100%;
            max-width: 100%;
            margin-right: 1em;
            padding: .5em;
        }
        @media all and (max-width: 767px) {
            padding: 0;
            >img {
                max-height: 80px;
                width: auto;
            }
        }
    }
    .flexia-header-sticky-logo {
        display: none;
        >img {
            width: auto;
            max-height: 100%;
            max-width: 100%;
            margin-right: 1em;
            padding: .5em;
        }
        @media all and (max-width: 767px) {
            padding: 0;
            >img {
                max-height: 60px;
                width: auto;
            }
        }
    }
}

.site-description {
    font-size: 1em;
    color: $color__text-main;
    font-style: italic;
    margin-top: 0;
}

.flexia-header-logo {
    display: block;
    padding: 0;
}

.main-navigation {
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.flexia-navbar.flexia-sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    animation-duration: 0.5s;
    animation-name: slideInDown;
    .flexia-header-logo {
        display: none;
    }
    .flexia-header-sticky-logo {
        display: flex;
        align-items: center;
    }
    .flexia-social-links {
        display: none;
    }
}

.flexia-navbar.flexia-navbar-transparent-top {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
}

.flexia-navbar.flexia-navbar-transparent-sticky-top {
    &:not(.flexia-sticky-navbar) {
        background-color: transparent;
        border: none;
        box-shadow: none;
        position: absolute;
        left: 0;
        right: 0;
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@media all and (min-width: 601px) {
    .admin-bar {
        .flexia-navbar.flexia-sticky-navbar {
            margin-top: 32px;
        }
    }
}

@media all and (min-width: 992px) {
    .flexia-header-3 {
        .flexia-navbar-inner {
            .flexia-menu.header-icons {
                .navbar-search-menu {
                    display: none;
                }
            }
        }
    }
}

@media all and (max-width: 599px) {
    .flexia-header-3 .flexia-navbar-inner .flexia-logobar-inline .search-form,
    .flexia-header-6 .flexia-navbar-inner .flexia-logobar-inline .search-form {
        display: none;
    }
}

@media all and (max-width: 991px) {
    .flexia_header_mobile_layouts_1 .flexia-navbar-inner {
        .flexia-social-links {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0 !important;
            text-align: center;
        }
    }
    .flexia_header_mobile_layouts_2 .flexia-navbar-inner {
        padding-bottom: .8em !important;
        .flexia-logobar-inline {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0 auto 1em !important;
            .site-branding {
                margin: 0 auto;
                .flexia-header-logo {
                    img {
                        margin-right: 0;
                    }
                }
            }
        }
        .flexia-menu.header-icons {
            margin: 0 !important;
        }
        .flexia-social-links {
            margin: 0 auto .5em !important;
        }
    }
    .site-header .flexia-navbar-inner {
        flex-flow: row wrap !important;
        justify-content: center !important;
        .flexia-logobar-inline {
            order: 2;
        }
        .flexia-social-links {
            order: 1;
        }
        .main-navigation {
            order: 4;
        }
        .flexia-menu.header-icons {
            order: 3;
        }
    }
    #masthead .flexia-menu.header-icons ul li.navbar-login-menu a {
        background-color: transparent !important;
        padding: 0px 10px !important;
        border-radius: unset !important;
        color: inherit !important;
        text-transform: capitalize !important;
        border: 0px;
        .button-text {
            display: none;
        }
    }
    .flexia-menu .nav-menu li>a {
        padding: 3px 10px 5px !important;
    }
    .flexia-header-3 {
        .flexia-navbar .flexia-navbar-container .flexia-navbar-inner .search-form {
            display: none;
        }
    }
    /* header 4 & mobile 1 */
    .flexia-header-4 {
        &.flexia_header_mobile_layouts_1 {
            .flexia-navbar {
                .flexia-header-top {
                    .flexia-logobar-inline {
                        padding-left: 0;
                    }
                    .header-icons {
                        margin: 0 30px 0 0;
                    }
                }
                .flexia-container {
                    .flexia-header-navigation {
                        position: absolute;
                        right: 0;
                        top: calc(50% - 10px);
                    }
                }
            }
            .flexia-header-navigation {
                .nav-menu {
                    right: 0;
                    left: auto;
                    min-width: 250px;
                }
            }
        }
    }
    /* header 4 & mobile 2*/
    .flexia-header-4 {
        &.flexia_header_mobile_layouts_2 {
            .flexia-navbar {
                .flexia-container {
                    position: relative;
                    .flexia-header-top {
                        flex-wrap: wrap;
                        justify-content: center;
                        .flexia-logobar-inline {
                            order: 1;
                            width: 100%;
                            flex: 0 0 100%;
                            max-width: 100%;
                            .site-branding {
                                margin: 0 auto;
                            }
                        }
                        .flexia-social-links {
                            order: 2;
                            width: auto;
                            display: none;
                        }
                        .header-icons {
                            order: 3;
                            width: auto;
                        }
                    }
                    .flexia-header-navigation {
                        position: absolute;
                        top: calc(100% - 15px);
                        margin-top: -1em;
                        right: -20px;
                        .main-navigation {
                            .flexia-primary-menu {
                                width: 260px;
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}