.flexia-navbar {
	width: 100%;
	color: $color__dark;
	z-index: 99;
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

}

.flexia-navbar-container {
	position: relative;
}

.flexia-navbar-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.site-branding {
	flex: 0 0 auto;
	margin: 0 1em;
	min-height: 45px;
}

.site-branding .site-title, .site-branding .site-title a {
	font-size: 1.25em;
	text-transform: uppercase;
	margin: 1em 0;
}

.site-branding .flexia-header-logo {
	padding: 15px;
	max-width: 100%;

}

.flexia-header-logo + .site-title {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.main-navigation {
	margin: 0 1em;
	flex: 0 0 auto;
}

.flexia-navbar.flexia-sticky-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	animation-duration: 0.5s;
    animation-name: slideInDown;
}

.admin-bar .flexia-navbar.flexia-sticky-navbar {
	margin-top: 32px;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}
