.flexia-navbar {
	width: 100%;
}

.flexia-navbar-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.site-branding {
	flex: 0 0 auto;
}

.site-branding .custom-logo-link .custom-logo {
	height: 65px;
	padding: 15px;
	vertical-align: middle;
	width: auto;
}

.main-navigation {
	margin: 0 1em;
	flex: 0 0 auto;
}

.custom-logo-link + .site-title {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}
