.flexia-sidebar {
	padding: 0 1em;
	width: 300px;
}

aside .widget button, 
#flexia-woo-sidebar .widget button {
	font-size: 14px;
	border-radius: 4px;
	padding: 10px 15px;
	border: 0;
	color:#fff;
	font-weight: 400;
	margin: 0;
	line-height: 1;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;

	&:hover {
		opacity: .8;
	}
}

aside .widget input, 
aside .widget select, 
aside .widget textarea {
	width: 100%;
	margin-bottom: 1em;
	padding: 10px;
	background-color: transparent;
	border: 1px solid #dfdfdf;
}


@media all and (max-width: 959px) {
	.widget.widget_search {
		flex: 1 100% !important;
	}
}
@media all and (min-width: 768px) and (max-width: 959px) {
	.flexia-sidebar {
		padding: 0 0 1.5em;
	}
	.flexia-sidebar-inner {
		display: flex;
		flex-flow: row wrap;
		padding: 0 .5em;
		>.widget {
			flex: 1 1 30%;
			margin: 1em;
			min-width: 250px;
		}
	}
	.widget.widget_search {
		.search-submit {
			max-width: 100px;
		}
	}
}