.customize-control-flexia-title .flexia-select,
.customize-control-flexia-title .flexia-dimension {
    display: flex;
}

.customize-control-flexia-range-value {
    display: flex;
}

.customize-control-flexia-range-value .customize-control-title,
.customize-control-flexia-number .customize-control-title {
    float: left;
}

.flexia-customize-control-separator {
    display: block;
    margin: 0 -12px;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 15px;
    font-size: 11px;
    font-weight: 600;
    letter-dimension: 2px;
    line-height: 1;
    text-transform: uppercase;
    color: #555;
    background-color: #fff;
}

.customize-control-flexia-select {
    width: 25%;
    float: left !important;
    clear: none !important;
    margin-top: 0;
    margin-bottom: 12px;
}

.customize-control-flexia-select .customize-control-title {
    font-size: 11px;
    font-weight: normal;
    color: #888b8c;
    margin-top: 0;
}

.flexia-customizer-reset {
    font-size: 22px;
    line-height: 26px;
    margin-left: 5px;
    transition: unset;
}

.flexia-customizer-reset:focus {
    box-shadow: none;
}

.flexia-customizer-reset svg {
    width: 16px;
    fill: #FE1F4A;
}

.customize-control-title .customize-control-title {
    margin-bottom: 0;
}

.flexia-gradient-color-control .gradient-control-label {
    width: 100%;
}

.flexia-dimension-fields li {
    float: left;
}

.flexia-dimension-fields li:first-child span {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    cursor: pointer;
}

.flexia-dimension-fields .flexia-dimension-connected {
    display: none;
}

.flexia-dimension-fields .flexia-dimension-disconnected {
    display: block;
}

.flexia-dimension-fields .flexia-dimension-link.connected .flexia-dimension-connected {
    display: block;
    color: #0073aa;
}

.flexia-dimension-fields .flexia-dimension-link.connected .flexia-dimension-disconnected {
    display: none;
}

.flexia-dimension-fields li:not(:first-child) {
    width: 20%;
    padding-left: 4px;
}

.flexia-dimension-fields li input {
    height: 30px;
}

.flexia-dimension-fields .dimension-title {
    text-align: center;
    font-size: 11px;
    display: block;
}

.flexia-spacing-responsive-units {
    display: flex;
    justify-content: flex-end;
}

.single-unit {
    padding: 2px 8px;
    background: lightgoldenrodyellow;
    margin-right: 5px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.single-unit.active {
    border-color: black;
}