
/* Blog Listing Page */

.paged .blog-header span,
.paged .blog-header .scroll-down {
  display: none;
}

.paged .blog-header .header-inner {
  padding: 3em 1em;
}

.header-content .blog-desc, .header-content .archive-description > p {
  display: block;
  font-family: "Merriweather",serif;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.2;
  opacity: 0.6;
  padding: 0.5em 2em;
}


.blog .header-content {
  padding-bottom: 3em;
}

.single-page-header .header-content {
  padding-bottom:  0;
}


/* Single Posts */

.single-blog-header {
  background-color: #28292e;
  position: relative;
  width: 100%;
}

.single-blog-header .header-content .blog-title {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin: 1em auto .5em;
  text-transform: uppercase;

}

.single-blog-header .header-content p {
  font-size: 1.5rem;
}

.author-avatar > img {
  border-radius: 50%;
  width: 80px;
}

.header-content .author-avatar > img {
  width: 120px;
}

.author-heading {
  text-transform: uppercase;
  font-size: 1em;
}

.single-post .single-blog-meta .entry-meta, .single-post .single-blog-meta .entry-meta a {
  color: #bbbbbb;
  font-family: "Merriweather",serif;
  font-size: 1em;
  text-align: center;
}

.single-blog-meta .entry-meta a:hover {
  color: #50626c;
}

.single-blog-meta .entry-meta i {
  color: #F54128;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  margin-right: .5em;
}

.scroll-down {
  /*background: url("../../../img/icons/icon-arrow-down.svg") no-repeat center center / 100% auto;*/
  background: url("../img/icons/icon-arrow-down.svg") no-repeat center center / 100% auto;
  bottom: 3em;
  display: block;
  height: 44px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 44px;
  outline: none;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: flexia-translate 1.2s .4s;
  -moz-animation: flexia-translate 1.2s .4s;
  animation: flexia-translate 1.2s .4s;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

@-webkit-keyframes flexia-translate {
0% {
  -webkit-transform: translateX(-50%) scale(1)
}

50% {
  -webkit-transform: translateY(10px) translateX(-50%) scale(1)
}

100% {
  -webkit-transform: translateX(-50%) scale(1)
}
}

@-moz-keyframes flexia-translate {
0% {
  -moz-transform: translateX(-50%) scale(1)
}

50% {
  -moz-transform: translateY(10px) translateX(-50%) scale(1)
}

100% {
  -moz-transform: translateX(-50%) scale(1)
}
}

@keyframes flexia-translate {
0% {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1)
}

50% {
  -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  -moz-transform: translateY(10px) translateX(-50%) scale(1);
  -ms-transform: translateY(10px) translateX(-50%) scale(1);
  -o-transform: translateY(10px) translateX(-50%) scale(1);
  transform: translateY(10px) translateX(-50%) scale(1)
}

100% {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1)
}
}

