
/* Blog Listing Page */

.paged .blog-header span,
.paged .blog-header .scroll-down {
  display: none;
}

.paged .page-header.blog-header {
  max-height: 400px;
}

.paged .blog-header .header-inner {
  padding: 3em 1em;
}

.header-content .blog-desc, .header-content .archive-description > p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
}

.blog.paged .header-content {
  padding: 0;
}

.single-page-header .header-content {
  padding-bottom:  0;
}

.header-content .flexia-blog-logo {
  max-width: 100%;
  margin: 0 auto 1.5em;
}


.transparent-top-navbar .page-header.blog-header {
  padding-top: 0 !important;
}

.transparent-top-navbar .archive-header .header-inner, .transparent-top-navbar .single-blog-header .header-inner {
  padding-top: 1em;
}

/* Single Posts */

.single-blog-header .header-content .blog-title {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin: 1em auto .5em;
  text-transform: uppercase;
  word-break: break-all;
  word-wrap: break-word;
}

.single-blog-header .header-content p {
  font-size: 1.5rem;
}

.header-content .author-avatar > img {
  width: 120px;
  border-radius: 50%;
}

.single-post .header-content .author-avatar > img{
  width: 80px;
}

.author-heading {
  text-transform: uppercase;
  font-size: 1em;
}

.single-post .single-blog-meta .entry-meta, .single-post .single-blog-meta .entry-meta a {
  color: #bbbbbb;
  font-family: "Merriweather",serif;
  font-size: 13px;
  text-align: center;
}

.single-blog-meta .entry-meta a:hover {
  color: #50626c;
}

.single-blog-meta .entry-meta i {
  color: #F54128;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  margin-right: .5em;
}

.header-overlay {
  background-color: #161415;
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
}

.scroll-down {
  /*background: url("../../../img/icons/icon-arrow-down.svg") no-repeat center center / 100% auto;*/
  background: url("../img/icons/icon-arrow-down.svg") no-repeat center center / 100% auto;
  bottom: 40px;
  display: block;
  height: 44px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 44px;
  outline: none;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: flexia-translate 1.2s .4s;
  -moz-animation: flexia-translate 1.2s .4s;
  animation: flexia-translate 1.2s .4s;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

.scroll-down:focus {
  outline: none;
}

@-webkit-keyframes flexia-translate {
0% {
  -webkit-transform: translateX(-50%) scale(1)
}

50% {
  -webkit-transform: translateY(10px) translateX(-50%) scale(1)
}

100% {
  -webkit-transform: translateX(-50%) scale(1)
}
}

@-moz-keyframes flexia-translate {
0% {
  -moz-transform: translateX(-50%) scale(1)
}

50% {
  -moz-transform: translateY(10px) translateX(-50%) scale(1)
}

100% {
  -moz-transform: translateX(-50%) scale(1)
}
}

@keyframes flexia-translate {
0% {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1)
}

50% {
  -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  -moz-transform: translateY(10px) translateX(-50%) scale(1);
  -ms-transform: translateY(10px) translateX(-50%) scale(1);
  -o-transform: translateY(10px) translateX(-50%) scale(1);
  transform: translateY(10px) translateX(-50%) scale(1)
}

100% {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1)
}
}