.post-author {
	width: 100%;
	color: #797979;
	margin: 2em auto;
	padding: 2em;
	.author-avatar {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: flex-start;
		>.avatar-container {
			flex: 0 0 110px;
			.avatar {
				padding-top: 10px;
				border-radius: 50%;
			}
		}
		>.author-body {
			flex: 1 1;
			color: $color__text-main;
			padding-top: 10px;
		}
	}
	.author-body {
		>span {
			font-size: 13px;
			font-style: italic;
		}
	}
	.author-heading {
		font-size: 24px;
		font-weight: bold;
		margin: 0 auto;
		text-transform: uppercase;
		a {
			color: #202021;
			transition: all .3s;
			&:hover {
				color: #50626c;
			}
		}
	}
	.author-bio {
		font-size: 1em;
		margin: 5px auto;
		line-height: 1.8;
		font-weight: lighter;
		text-transform: uppercase;
	}
}
.flexia-social-share {
	display: flex;
	flex-flow: row wrap;
	color: #949494;
	font-size: 13px;
	text-transform: uppercase;
	padding: 1em;
	margin: 2em 0 5em;
	letter-spacing: 1px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	align-items: center;
	justify-content: space-between;
	.flexia-social-share-heading {
		flex: 0 0 auto;
		h5 {
			font-size: 1em;
			margin: 1em 0;
		}
	}
}
.flexia-social-share-links {
	padding: 0;
	margin: 0;
	flex: 0 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	li {
		list-style: none;
		padding: 0 .75em;
		text-align: center;
		flex: 1 1 auto;
		a {
			color: #F56A6A;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			transition: all .3s;
			&:hover {
				color: #23527c;
			}
			i {
				font-size: 2em;
			}
		}
	}
}
