/* post author style */

.post-author {
	width: 100%;
	color: #797979;
	margin: 2em auto;
	padding: 2em;
}
.post-author .author-avatar {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.post-author .author-avatar > .avatar-container {
	flex: 0 0 110px;
}

.post-author .author-avatar > .author-body {
	max-width: 600px;
	flex: 1 1 80%;
	color: #4d4d4d;
}

.post-author .author-body > span {
	font-size: 13px;
	font-style: italic;
	font-family: $font__heading;
}

.post-author .author-heading {
	font-family: $font__main;
	font-size: 24px;
	font-weight: bold;
	margin: 0 auto;
	text-transform: uppercase;
}

.post-author .author-heading a {
	color: #202021;
	transition: all .3s;
}

.post-author .author-heading a:hover {
	color: #50626c;
}

.post-author .author-bio {
	font-family: $font__heading;
	font-size: 1em;
	margin: 5px auto;
	line-height: 1.8;
	font-weight: lighter;
	text-transform: uppercase;
}

.post-author .author-avatar > .avatar-container .avatar {
	padding-top: 10px;
	border-radius: 50%;
}

/* Post social share style */

.flexia-social-share {
	display: flex;
	flex-flow: row wrap;
	color: #949494;
	font-size: 1em;
	text-transform: uppercase;
	padding: 1em;
	margin: 2em 0 5em;
	letter-spacing: 1px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	align-items: center;
	justify-content: space-between;
}

.flexia-social-share .flexia-social-share-heading {
	flex: 0 0 auto;
}

.flexia-social-share .flexia-social-share-heading h5 {
	font-family: $font__heading;
	font-size: 1em;
	margin: 1em 0;
}

.flexia-social-share-links {
	padding: 0;
	margin: 0;
	flex: 0 0 auto;
	text-align: center;
}

.flexia-social-share-links li {
	list-style: none;
	display: inline-block;
	padding: 0 1em;
	text-align: center;
}

.flexia-social-share-links li a {
	color: #F56A6A;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.flexia-social-share-links li a:hover {
	color: #23527c;
}

.flexia-social-share-links li a i {
	font-size: 2em;
}

