/*Call to Action Style*/

.flexia-cta-1 {
    padding: 5em 15px;
    background-color: #f2f2f2;

    .cta-1-container {
        text-align: center;

        .cta-title {
            color: #222;
            margin: 0 0 .75em 0;
        }
        .cta-subtitle {
            color: #999;
            margin: 0 0 1.5em 0;
        }

        .cta-target {
            button {
                padding: 1em 3em;
                border-radius: 30px;
                border: 0;
                font-size: 1.1em;
                font-weight: 700;
            }
            &:hover {
                button {
                    opacity: .85;
                }
            }
        }
    }
}