.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-area {
  color: #797979;
  font-size: 17px;
  margin: 10px auto;
  padding: 1em 0;
  a {
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

ol.comment-list li {
  list-style: none;
}

.comments-area {
  .comment-list li > {
    ol, ul {
      padding-left: 1em;
    }
  }
  .comments-title, .comment-reply-title {
    font-size: 1.5em;
    margin: 1em auto 2.5em;
    text-align: center;
    text-transform: uppercase;
  }
  footer {
    margin-top: 0;
    text-align: left;
  }
}

.comment-respond .comment-reply-title {
  margin-top: 2em;
}

.comments-area {
  .comment-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    .children {
      list-style-type: none;
    }
  }
  .comment-metadata {
    margin-bottom: 1em;
    a {
      color: #8e8e8e;
      font-size: 13px;
    }
  }
  .comment-author {
    img {
      float: left;
      height: 60px;
      margin-right: 20px;
      width: 60px;
    }
    a {
      color: #35353c;
      text-decoration: none;
    }
    .says {
      display: none;
    }
  }
  .comment-metadata {
    font-size: 12px;
  }
  .comment-content {
    color: #323232;
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px;
  }
}

.comment-content > p {
  margin: 0 0 1em;
}

.comment-body {
  border-top: 1px dashed rgba(0, 0, 0, 0.15);
  padding-top: 2em;
}

.comments-area {
  .comment-content, .comment-awaiting-moderation, .reply {
    padding-left: 80px;
  }
  .comment-awaiting-moderation {
    font-size: 12px;
  }
  .reply {
    margin-bottom: 20px;
    .comment-reply-link {
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: #3c3c3c;
      }
    }
  }
  .comment-respond {
    border-top: 1px dashed rgba(0, 0, 0, 0.15);
    margin-bottom: 2em;
    outline: 0 none;
  }
  .comment-form-comment {
    label {
      width: 100%;
    }
    textarea {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: none;
      color: #808086;
      font-size: 13px;
      font-weight: 300;
      outline: 0 none;
      padding: 8px 10px;
      width: 100%;
    }
  }
  .comment-respond {
    .comment-form-author input, .comment-form-email input, .comment-form-url input {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: none;
      color: #808086;
      font-size: 13px;
      font-weight: 300;
      outline: 0 none;
      padding: 8px 10px;
      width: 100%;
    }
    .form-submit input {
      background-color: #3c3c3c;
      border: medium none;
      color: #fff;
      display: inline-block;
      font-weight: 300;
      margin-top: 20px;
      outline: 0 none;
      padding: 1em 2em;
      text-decoration: none;
      font-size: 1em;
      border-radius: 3px;
      &:hover {
        background-color: #F56A6A;
        transition: all 0.2s ease-out 0s;
      }
      transition: all 0.2s ease-out 0s;
    }
    .comment-form-author label, .comment-form-email label, .comment-form-url label {
      width: 100px;
    }
  }
  .comment-notes {
    font-weight: 300;
    margin-bottom: 30px;
  }
  .comment-form label {
    color: #323232;
    font-size: 13px;
  }
  .blog-img-wide.blogdetails img {
    height: auto;
    padding: 20px;
    width: 100%;
  }
}

.edit-link {
  margin-left: 10px;
}

.entry-footer .edit-link {
  display: block;
  margin: 10px 0;
}

.post-edit-link {
  font-size: 13px;
  font-weight: normal;
}

.comment-reply-title {
  a {
    color: #F56A6A;
    &:hover {
      color: #f00;
      color: #f00;
    }
  }
  small {
    font-size: 100%;
    transform: scale(0.8);
    display: inline-block;
  }
}