.flexia-edd-product-thumb > img {
	display: block;
}

.edd-input.edd-item-quantity {
	width: 50px;
	margin-bottom: 10px;
}

.button.edd-add-to-cart {
	font-size: 1em;
}

.edd_purchase_submit_wrapper .button.edd-add-to-cart {
	font-size: 14px;
	padding: 5px 15px;
	margin-top: 5px;
}

.edd-product-title {
	font-size: 1.5em;
	line-height: 1.2;
}