.error404 .flexia-wrapper.flexia-container, .search-no-results .flexia-wrapper.flexia-container {
	padding: 0;
}
.error-404.not-found, .search-no-results .not-found  {
	max-width: 700px;
	margin: 3em auto 5em;
	padding: 1em;
	display: block;
	p {
		text-align: center;
		font-size: 1.2em;
		margin: 3em auto;
	}
}
.error-404, .search-no-results .not-found {
	.error-404-image, .no-result-img {
		display: flex;
		justify-content: center;
		padding: 15px;
		svg{
			width: 100%;
			max-width: 450px;
		}
	}
	.no-result-img svg {
	    max-width: 200px;
	}
	.search-form {
		display: flex;
		justify-content: center;
		align-items: center;
		.search-field {
			width: 100%;
			border: 1px solid #f1f1f1;
			padding: 1em;
		}
		.search-submit {
			background-color: #3c3c3c;
			width: 50px;
			border: none;
			flex: 0 0 5em;
			font-size: 1em;
			border: 1px solid transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: stretch;
			svg{
				width: 28px;
				fill: #fff;
			}
		}
	}
}
.search-no-results .flexia-sidebar {
	display: none;
}
.search-no-results .not-found .page-content {
	padding: 15px;
}
.search-no-results .not-found .page-content .page-title {
	text-align: center;
	font-size: 1.75em;
}