.page-header {
  background-color: #28292e;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  position: relative;
}

.header-inner {
  background: rgba(0, 0, 0, 0.5);
  flex: 0 0 100%;
  text-align: center;
  padding: 5em 2em;
}

.header-content {
  color: #fff;
  text-align: center;
}

.header-content > .page-title {
  font-family: "PT Sans",sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 20px auto 5px;
  text-transform: uppercase;
}

.header-content p {
  display: block;
  font-family: "Merriweather",serif;
  font-size: 2rem;
  font-style: italic;
  line-height: 1.2;
  opacity: 0.9;
  padding: 0.5em 2em;
}

.header-content span i {
  background:none repeat scroll 0 0 rgba(255,255,255,0.1);
  border-radius:50%;
  box-shadow:0 0 0 30px transparent;
  display:inline-block;
  font-size:2.5em;
  padding:.5em;
  height:2em;
  line-height:1em;
  text-align:center;
  width:2em;
  margin:15px auto;
  display:block;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.blog-header:hover .header-content span i {
  box-shadow:0 0 0 0 rgba(255,255,255,0.1);
  -webkit-transition: box-shadow .4s ease-in-out;
  -moz-transition: box-shadow .4s ease-in-out;
  -o-transition: box-shadow .4s ease-in-out;
  -ms-transition: box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out
}