.page-header {
  background-color: #28292e;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row nowrap;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  z-index: 1;
}
.header-inner {
  flex: 0 0 100%;
  text-align: center;
  padding: 5em 1em;
  z-index: 1;
}
.header-content {
  color: $color__light;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  >.page-title {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 auto;
  }
  p {
    display: block;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2;
    padding: 0.5em;
  }
  .blog-desc {
    font-size: 1em;
    line-height: 1.5;
    padding: 20px;
  }
  .author-bio {
    font-size: 1.5em;
    padding: 0;
    margin: 0 0 1.5em;
  }
  span {
    i {
      background-color: rgba(255,255,255,0.1);
      border-radius: 50%;
      box-shadow: 0 0 0 30px transparent;
      display: inline-block;
      font-size: 2.5em;
      padding: .5em;
      height: 2em;
      line-height: 1em;
      text-align: center;
      width: 2em;
      margin: 0 auto 1em;
      display: block;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
  }
}
.blog-header {
  &:hover {
    .header-content {
      span {
        i {
          box-shadow: 0 0 0 0 rgba(255,255,255,0.1);
          -webkit-transition: box-shadow .4s ease-in-out;
          -moz-transition: box-shadow .4s ease-in-out;
          -o-transition: box-shadow .4s ease-in-out;
          -ms-transition: box-shadow .4s ease-in-out;
          transition: box-shadow .4s ease-in-out;
        }
      }
    }
  }
}
.entry-header.entry-header-mini {
  padding: 1em 0;
  .entry-header-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }
  .entry-title {
    flex: 1 1 auto;
    padding: .5em 0;
    margin: 0;
    font-size: 1.2em;
    letter-spacing: .035em;
    &::after {
      display: none;
    }
  }
  .flexia-breadcrumb {
    flex: 0 0 auto;
  }
}
.entry-header.entry-header-large {
  padding: 2em 0;
  .entry-header-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }
  .entry-title {
    flex: 1 1 auto;
    padding: .5em 0;
    margin: 0;
    font-size: 1.2em;
    letter-spacing: .035em;
    font-size: 3em;
    font-weight: 700;
    &::after {
      display: none;
    }
  }
  .flexia-breadcrumb {
    flex: 0 0 auto;
  }
}
.entry-header.entry-header-center {
  .entry-header-inner {
    flex-flow: column wrap;
  }
  .flexia-breadcrumb {
    padding-bottom: 1em;
  }
}
@media all and (min-width: 600px) and(max-width: 959px) {
  .header-inner {
    padding: 4em 1em;
  }
}
@media all and (max-width: 599px) {
  .header-inner {
    padding: 2em 1em;
  }
}