/* Post Formats */
.flexia-wrapper {
  >.content-area {
    background-color: $color__light;
  }
}
body.blog {
  .flexia-wrapper {
    >.content-area {
      article {
        background-color: $color__light;
        padding: 0 0 2em;
        .entry-header, .entry-content {
          padding: 0 2em;
        }
        .entry-header {
          padding-top: 1.5em;
        }
      }
      background-color: transparent;
      padding: 0;
    }
  }
}
body.archive {
  .flexia-wrapper {
    >.content-area {
      article.post {
        background-color: $color__light;
        padding: 2em;
      }
      background-color: transparent;
      padding: 0;
    }
  }
}
.flexia-wrapper.flexia-container {
  padding-top: 6em;
  overflow: hidden;
  >.content-area {
    margin: 0 1em 1.5em;
  }
}
.single {
  .flexia-wrapper.flexia-container {
    padding-top: 0;
  }
  .entry-date.updated {
    display: inline-block;
  }
  .entry-date.published {
    display: none;
  }
  .entry-date {
    &:only-child {
      display: inline-block;
    }
  }
  .single-post-meta-simple {
    .entry-meta {
      >span {
        margin-right: 10px;
      }
    }
  }
  .entry-content-wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 3em auto 0;
  }
  .single-post-meta-large {
    .entry-meta {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      >span {
        text-align: center;
        flex: 1 1 auto;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 30px 0;
        &:last-child {
          border-right: none;
        }
      }
      >span.cat-links {
        max-width: 50%;
      }
    }
  }
  .flexia-wrapper {
    >.content-area {
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
  }
}
.sticky {
  position: relative;
  &:before {
    font: normal normal normal 15px/1 FontAwesome;
    font-size: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    // content: "\f08d";
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: #f54128;
    color: $color__light;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    transition: all .5s ease-in 0.1s;
  }
  &:hover {
    &:before {
      -webkit-transform: rotate(400deg);
      -moz-transform: rotate(400deg);
      -ms-transform: rotate(400deg);
      -o-transform: rotate(400deg);
      transform: rotate(400deg);
    }
  }
}
.post.format-standard {
    box-shadow: 0 0 5px 0 #e2e2e2;
    margin-bottom: 30px;
}
.post-content {
  button {
    font-family: inherit;
    font-size: inherit;
    height: 45px;
    line-height: inherit;
    padding: 0 10px;
    background-color: #f56a6a;
    border: medium none;
    cursor: pointer;
    color: $color__light;
    padding: 0 10px;
    font-size: 16px;
    height: 45px;
    -webkit-transition: all .3s;
    transition: all .3s;
    &:hover {
      background: #E95D55;
    }
  }
  input {
    font-family: inherit;
    font-size: inherit;
    height: 45px;
    line-height: inherit;
    padding: 0 10px;
  }
  select {
    font-family: inherit;
    font-size: inherit;
    height: 45px;
    line-height: inherit;
    padding: 0 10px;
  }
  textarea {
    font-family: inherit;
    font-size: inherit;
    height: 45px;
    line-height: inherit;
    padding: 0 10px;
  }
  input[type="button"] {
    background-color: #f56a6a;
    border: medium none;
    cursor: pointer;
    color: $color__light;
    padding: 0 10px;
    font-size: 16px;
    height: 45px;
    -webkit-transition: all .3s;
    transition: all .3s;
    &:hover {
      background: #E95D55;
    }
  }
  input[type="reset"] {
    background-color: #f56a6a;
    border: medium none;
    cursor: pointer;
    color: $color__light;
    padding: 0 10px;
    font-size: 16px;
    height: 45px;
    -webkit-transition: all .3s;
    transition: all .3s;
    &:hover {
      background: #E95D55;
    }
  }
  input[type="submit"] {
    background-color: #f56a6a;
    border: medium none;
    cursor: pointer;
    color: $color__light;
    padding: 0 10px;
    font-size: 16px;
    height: 45px;
    -webkit-transition: all .3s;
    transition: all .3s;
    &:hover {
      background: #E95D55;
    }
  }
}
.post-password-form {
  input[type="submit"] {
    background-color: #f56a6a;
    border: medium none;
    cursor: pointer;
    color: $color__light;
    padding: 0 10px;
    font-size: 16px;
    height: 45px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #E95D55;
  }
  input {
    padding: 10px;
    height: 45px;
  }
}
.hentry {
  margin: 0 0 1.5em;
}
.entry-date.updated {
  display: none;
}
.entry-date.published {
  display: inline-block;
}
.blog {
  .entry-meta {
    >span {
      margin-right: 10px;
    }
  }
  .entry-header {
    margin-top: 0;
  }
  .entry-content {
    margin-top: 0;
  }
  .format-status {
    .entry-header {
      display: none;
    }
    .entry-footer {
      display: none;
    }
  }
  .format-link {
    .entry-footer {
      display: none;
    }
  }
  .format-quote {
    .entry-footer {
      display: none;
    }
  }
  .format-chat {
    .entry-footer {
      display: none;
    }
  }
}
.archive {
  .entry-meta {
    >span {
      margin-right: 10px;
    }
  }
  .entry-header {
    margin-top: 0;
  }
  .entry-content {
    margin-top: 0;
  }
  .format-status {
    .entry-header {
      display: none;
    }
    .entry-footer {
      display: none;
    }
  }
  .format-link {
    .entry-footer {
      display: none;
    }
  }
  .format-quote {
    .entry-footer {
      display: none;
    }
  }
  .format-chat {
    .entry-footer {
      display: none;
    }
  }
}
.search {
  .entry-meta {
    >span {
      margin-right: 10px;
    }
  }
  .entry-content {
    margin-top: 0;
  }
}
.entry-meta {
  color: $color__text-main;
  font-size: .9em;
  margin: 0 0 20px;
  a {
    color: $color__text-main;
    font-size: .9em;
  }
}
.page-content {
  margin: 0;
}
.entry-content {
  margin: 0;
  color: $color__text-main;
  display: block;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  padding-bottom: 5px;
  position: relative;
  text-align: left;
}
.entry-summary {
  margin: 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
  a {
    display: inline-block;
  }
  .page-number {
    padding: 0;
    margin: 0 0 .3em .3em;
    border: 1px solid rgba(0,0,0, .15);
    font-size: .8em;
    width: 2.5em;
    height: 2.5em;
    line-height: -webkit-calc(2.5em - 4px);
    line-height: calc(2.5em - 4px);
    display: inline-block;
    text-align: center;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}
.entry-content.single-post-entry {
  margin: 0 1.5em 4em;
  padding: 1.5em 1.5em;
  background-color: $color__light;
}
.entry-title {
  color: #202021;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1;
  margin: 0 0 15px;
  // padding-bottom: 50px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  a {
    text-decoration: none;
    color: #202021;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      color: #50626c;
    }
  }
  &:after {
    // background-color: rgba(0,0,0, .15);
    // bottom: 20px;
    // content: "";
    // height: 3px;
    // left: 0;
    // position: absolute;
    // width: 80px;
  }
}
.single-blog-header {
  .entry-title {
    color: $color__light;
    padding-bottom: 0;
    text-align: center;
    &:after {
      display: none;
    }
  }
}
.single-page-header {
  .entry-title {
    color: $color__light;
    padding-bottom: 0;
    text-align: center;
    &:after {
      display: none;
    }
  }
}
.attachment {
  .page-header {
    display: none;
  }
}
body {
   &.page {
     .flexia-wrapper {
       >.content-area {
         padding: 1.5em 2.5em;
       }
     }
   }
  .flexia-wrapper.flexia-blank-container {
    >.content-area {
      padding: 0;
    }
  }
}
.more-link {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
  color: #3f3f46;
  font-size: .9em;
  letter-spacing: 2px;
  margin: 15px auto;
  padding: 15px 50px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all .3s;
  transition: all .3s;
  &:hover {
    background: #3f3f46;
    color: $color__light;
    border: 1px solid #3f3f46;
    border-radius: 0;
    &:after {
      right: 2em;
    }
  }
}
@media all and (max-width: 600px) {
  .entry-title {
    font-size: 1.75em;
  }
  .header-content {
    >.page-title {
      font-size: 1.75em;
    }
  }
  body.blog {
    .flexia-wrapper {
      >.content-area {
        article.post {
          padding: 0em;

          .entry-header, .entry-content {
            padding: 0 1em;
          }
        }
      }
    }
  }
  body.archive {
    .flexia-wrapper {
      >.content-area {
        article.post {
          padding: 1.5em;
        }
      }
    }
  }
  .flexia-wrapper.flexia-container {
    padding-top: 2em;
  }
  .single-blog-header {
    .header-content {
      .blog-title {
        font-size: 1.75em;
      }
    }
  }
  .single-post {
    .entry-content-wrapper {
      margin: 1em auto 0;
    }
    .single-blog-meta {
      .entry-meta {
        display: block;
      }
    }
    .single-post-meta-large {
      .entry-meta {
        >span {
          display: block;
          padding: 15px 10px;
        }
        >span.cat-links {
          max-width: 100%;
        }
      }
    }
  }
  .entry-content.single-post-entry {
    margin: 0 auto 2em;
    padding: 1.5em 2em;
    background-color: $color__light;
  }
  .post-author {
    margin: 0 auto;
    padding: .5em;
  }
  .flexia-social-share {
    justify-content: center !important;
    margin: 2em 0;
  }
  .comments-area {
    .comments-title {
      font-size: 1em;
      margin: 1em auto;
    }
    .comment-reply-title {
      font-size: 1em;
      margin: 1em auto;
    }
    .comment-list {
      li {
        >ol {
          padding: 0;
        }
        >ul {
          padding: 0;
        }
      }
    }
  }
}



/**
 * ============================================================================================
 * Main stylesheet for Flexia Pro
 * ============================================================================================
 */
/* Post Block */


.flexia-post-block-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
.flexia-post-block-item {
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);
}

/* Post Grid Column */
.flexia-col-1 .flexia-post-block-item {
  margin: 0 0 30px;
  flex: 1 1 100%;
}
.flexia-col-2 .flexia-post-block-item{
  margin: 2%;
  flex: 1 1 46%;
}
.flexia-col-3 .flexia-post-block-item {
  margin: 1.5%;
  flex: 1 1 30%;
}
.flexia-col-4 .flexia-post-block-item {
  margin: 1%;
  flex: 1 1 23%;
}
.flexia-col-5 .flexia-post-block-item {
  margin: 1%;
  flex: 1 1 18%;
}
.flexia-col-6 .flexia-post-block-item {
  margin: .8%;
  flex: 1 1 15%;
}

.flexia-post-block-item-holder {
  height: 100%;
  width: 100%;
}

.flexia-post-block-item-holder-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.flexia-post-block-item .flexia-entry-thumbnail {
  background-color: #f0f0f0;
  position: relative;
  height: 160px;
  flex: auto;
}

.flexia-post-block-item .flexia-entry-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flexia-post-block-item .flexia-entry-wrapper {
  padding: 15px;
}

.flexia-post-block-item .flexia-entry-title {
  margin: 5px 0 5px;
}

.flexia-post-block-item .flexia-entry-header .flexia-entry-meta .flexia-posted-by {
  display: inline-block;
}

.flexia-post-block-item .flexia-entry-meta {
  line-height: 1;
}

.flexia-entry-meta > span {
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 5px;
}

.flexia-post-block-item .flexia-entry-header .flexia-entry-meta span.flexia-posted-on {
  padding-left: 5px;
}

.flexia-post-block-item .flexia-entry-footer .flexia-entry-meta {
  padding-left: 8px;
}

.flexia-post-block-item .flexia-entry-footer {
  padding: 0 15px 15px
}

/**
 * Post Grid
 */
body.blog .flexia-post-grid.flexia-post-block .flexia-post-block-column {
  padding: 0;
}
.flexia-post-grid-holder {
  background-color: #fff;
  border: 1px solid rgba(0,0,0, .15);
}
.flexia-post-grid-holder-inner {
  height: 100%;
}
.flexia-entry-media {
  position: relative;
}
.flexia-entry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out,-webkit-transform .25s cubic-bezier(.19,1,.22,1);
  -moz-transition: opacity .3s ease-in-out,-moz-transform .25s cubic-bezier(.19,1,.22,1);
  transition: opacity .3s ease-in-out,transform .25s cubic-bezier(.19,1,.22,1);
  text-align: center;
}
.flexia-entry-overlay:hover {
  opacity: 1;
  background-color: rgba(0,0,0, .7);
}
.flexia-entry-overlay svg {
  fill: #fff;
  height: 2em;
  top: 50%;
  position: relative;
  margin-top: -1em;
  margin-left: -50px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.flexia-entry-overlay:hover svg {
  margin-left: 0;
}
.flexia-entry-overlay > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.flexia-entry-title, .flexia-entry-title a {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.2;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: #303133;
}
.flexia-entry-thumbnail img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.flexia-post-grid .flexia-entry-header .flexia-entry-meta {
  font-size: .9m;
  margin-bottom: 8px;
}
.flexia-post-grid .flexia-entry-header .flexia-entry-meta span.flexia-posted-on {
  padding-left: 5px;
}

.flexia-entry-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.flexia-entry-footer .flexia-author-avatar {
  flex: 0 0 auto;
  width: 50px;
}
.flexia-entry-footer .flexia-author-avatar .avatar {
  border-radius: 50%;
}
.flexia-post-grid .flexia-entry-footer  .flexia-entry-meta {
  padding-left: 8px;
}
.flexia-entry-header .flexia-term-name {
  color: #303133;
  font-size: 12px;
}
.flexia-entry-content .flexia-post-grid-excerpt {
  font-size: 1em;
  line-height: 1.5;
}
.flexia-entry-meta > div {
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 5px;
}
.flexia-post-grid-excerpt p {
  margin: 0;
  font-size: 14px;
}
.flexia-entry-meta .flexia-entry-footer  .flexia-posted-by {
  display: block;
}
.flexia-post-grid .flexia-entry-wrapper, .flexia-post-grid .flexia-entry-footer {
  padding: 15px;
}
.flexia-post-grid .flexia-entry-header .flexia-entry-meta span.flexia-posted-on {
  padding-left: 5px;
}

.flexia-load-more-button-wrap::before, .flexia-load-more-button-wrap::after,.flexia-post-grid-wrapper::before, .flexia-post-gridwrapper::after {
  content: " ";
  clear: both;
}

/* Responsive Styles for Instagram Feed */

@media only screen and (max-width: 979px) {
  .flexia-col-1 .flexia-post-block-item, .flexia-col-2 .flexia-post-block-item,
  .flexia-col-3 .flexia-post-block-item, .flexia-col-4 .flexia-post-block-item,
  .flexia-col-5 .flexia-post-block-item, .flexia-col-6 .flexia-post-block-item {
    margin: 2%;
    flex: 1 1 46%;
  }
}

@media only screen and (max-width: 767px) {
  .flexia-col-1 .flexia-post-block-item, .flexia-col-2 .flexia-post-block-item,
  .flexia-col-3 .flexia-post-block-item, .flexia-col-4 .flexia-post-block-item,
  .flexia-col-5 .flexia-post-block-item, .flexia-col-6 .flexia-post-block-item {
    margin: 2%;
    flex: 1 1 46%;
  }
}

@media only screen and (max-width: 480px) {
  .flexia-col-1 .flexia-post-block-item, .flexia-col-2 .flexia-post-block-item,
  .flexia-col-3 .flexia-post-block-item, .flexia-col-4 .flexia-post-block-item,
  .flexia-col-5 .flexia-post-block-item, .flexia-col-6 .flexia-post-block-item {
    margin: 0 0 30px;
    flex: 1 1 100%;
  }
}
.btn-load-more {
  display: block;
}

/**
 * Sorting Portfolio / Blog
 */

.flexia-post-filter-control {
  text-align: center;
}

.flexia-post-filter-control button.control {
  background-color: transparent;
  color: #444;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  margin: 0px 10px 10px 0px;
  border: none;
  border-radius: 0;
}

.flexia-post-filter-control button.control:hover, .flexia-post-filter-control button.button.control.is-checked{
  background-color: #444;
  color: #fff;
}

/**
 * Load More Button
 */
.flexia-load-more-button-wrap {
  width: 100%;
  display: block;
  margin: 30px auto;
  clear: both;
}
.flexia-load-more-button {
  background-color: #444;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  border: 0;
  padding: 15px 30px;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .25em;
  transition: all .5s;
  overflow: hidden;
}

.flexia-load-more-button:hover, .button--loading {
  background: #27bdbd;
  color: #fff;
}

.button--hide {
  opacity: 0;
}

.flexia-load-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexia-load-more-button .button__loader {
  left: -100%;
  top: auto;
  margin-right: 5px;
  transition: all .2s;
}

.flexia-load-more-button > span {
  margin-left: -20px;
}

.flexia-load-more-button.button--loading > span {
  margin-left: 0;
}

.flexia-load-more-button.button--loading .button__loader {
  left: auto;
}
.flexia-btn-loader, .flexia-btn-loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.flexia-btn-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #ffffff;
  transform: translateZ(0);
  animation: loaderSpin 1.1s infinite linear;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}