.flexia-woocommerce-wrapper {
	background-color: #fff;
	padding: 2em;
}

.single.single-product .flexia-wrapper.flexia-container {
	padding-top: 4em;
}

.single-product.woocommerce .product {

	.onsale {
		display: none;
	}

	.woocommerce-product-gallery {
		display: flex;

		.flex-viewport {
			order: 2;
		}
		.flex-control-nav {
			order: 1;
			margin-right: 1em;

			li {
				width: 100%;
				margin-bottom: 1em;
				border: 1px solid #e3e3e3;
			}
		}

		@media only screen and (max-width: 767px) {

			flex-flow: column;

			.flex-viewport {
				order: 1;
				margin-bottom: 1em;
			}
			.flex-control-nav {
				order: 2;
				margin-right: 0em;
	
				li {
					width: auto;
					margin-right: 1em;
					margin-bottom: 1em;
					border: 1px solid #e3e3e3;

					img {
						max-width: 60px;
					}
				}
			}
			
		}

	}

	.product_title {
		font-size: 1.5em;
		font-weight: 700;
	}

	.woocommerce-product-rating {
		font-size: .85em;
	}

	.summary {

		.price {
			display: flex;
			justify-content: flex-start;
			align-items: baseline;
			margin-bottom: 1.5em;
	
			.woocommerce-Price-amount {
				font-size: 1.5em;
				font-weight: 700;
				margin-right: .5em;
				
				&:nth-child(2) {
					margin-left: .5em;
				}
			}
	
			del {
				order: 2;
	
				.woocommerce-Price-amount {
					font-size: 1em;	
					font-weight: 400;
				}
			}
	
			ins {
				order: 1;
			}
		}

	}

	.single_add_to_cart_button {
		padding: 1em 3em;
	}

	.product-single-quantity {
		float: left;
		height: 48px;
		background-color: #eeeeee;
		margin: 0 1em 1em 0;

		> * {
			float: left;
			height: 48px;
		}

		button {
			background-color: #555555;
			font-size: 1.5em;
			line-height: 1;
			padding: 0;
			width: 50px;
			text-align: center;

			&:hover {
				opacity: .8;
			}
		}

		.quantity {

			input {
				background-color: transparent;
				padding: 10px;
				width: auto;
				max-width: 50px;
				border: 0px;
				-moz-appearance: textfield;

				&:-webkit-outer-spin-button, &:-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
	}

	.cart {

		.variations {
			margin-bottom: 2em;
			width: auto;

			tr {
				.label {
					vertical-align: middle;
				}
				.value {
					position: relative;
					width: 350px;
					&:after {
						color: black;
						content: '▾';
						margin-right: 10px;
						pointer-events: none;
						position: absolute;
						right: 10px;
						top: 13px;
						font-size: 20px;
					}

					select {
						-moz-appearance: none;
						-webkit-appearance: none;
						background: #eeeeee;
						border: none;
						border-radius: 0;
						cursor: pointer;
						padding: 10px;
						width: 100%;
						font-size: 18px;

						&:focus {
							color: black;
						}
						&::-ms-expand {
							display: none;
						}
					}

					.reset_variations {
						position: absolute;
						right: 8px;
						bottom: -15px;
					}
				}
			}
		}

		.single_add_to_cart_button {
			&:hover {
				opacity: .8;
			}
		}

	}
	

	.woocommerce-tabs {

		margin-top: 2em;

		ul.wc-tabs {
			padding-left: 0px;

			li {
				border: 0px;
				background-color: transparent;
				padding-bottom: .5em;
				margin: 0;

				a {
					font-size: 1.2em;
					font-weight: 700;
					text-transform: capitalize;
				}

				&:first-child {
					padding-left: 0px;
				}
			}

			> li.active {
				&::before {
					content: "";
					border-width: 2px;
					box-shadow: unset;
					border-radius: 0;
					left: 0;
					width: 100%;
					bottom: 0;
					border-style: solid;
					background-color: transparent;
					position: absolute;
					height: 2px;					
				}

				&:after {
					display: none;
				}
			}

			&::before {
				border-bottom: 2px solid #ccc;
			}			
		}

		@media only screen and (max-width: 480px) {
			
			li {
				padding: 1em !important;
				background-color:#eee !important;
				display: block !important;
				border-bottom: 1px solid#ccc !important;

				a {
					display: block !important;
				}
			}
		}
	}
	.woocommerce-tabs h2, .related.products > h2 {
		font-size: 1.2em;
		font-weight: 700;
		text-transform: capitalize;
	}

	.related.products {
		margin-top: 5em;	
	}
	
}

.woocommerce div.product div.summary {
	margin: 0 0 5em;
}

.woocommerce div.product .product_title {
	text-transform: none;
	font-size: 2em;
	line-height: 1.5;
	font-weight: 400;
	color: #484c51;
}

.woocommerce div.product .product_title::after {
	display: none;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	position: relative;
	overflow: hidden;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
	color:#333;
	text-align: left;
	font-size: 1.1em;
	font-weight: 400;
	padding: 0;
	margin-bottom: .75em;
}

.woocommerce ul.products li.product .price {
	color: #404040;
	font-weight: 400;
	font-size: 1em;
	text-align: left;
	display: flex;
	justify-content: left;
	align-items: baseline;
	margin-bottom: 1em;

	ins {
		font-size: 1.4rem;
		order: 1;
		margin-right: 1rem;
	}

	del {
		order: 2;
		color: #707070;
		.amount {
			font-size: 1em;
		}
	}
	.discunt_amount {
		order: 3;
		color:#ff6e6e;
		font-size: .9em;
		margin-left: 1em;
	}

	> .woocommerce-Price-amount.amount {
		font-size: 1.4rem;
		margin-right: 1em;
		font-weight: 700;
	}

	> .woocommerce-Price-amount.amount:nth-child(2) {
		margin-left: 1em;
	}
}

.woocommerce ul.products li.product .add_to_cart_button {
	margin: 1em auto;
	width: 80%;
	max-width: 200px;
	font-weight: 700 !important;
	font-size: .9em !important;
	text-transform: uppercase;
	text-align: center;
	background-color: #ffffff;
	color: #707070;
	border: 0;
	padding: 12px 15px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.5;
	font-weight: 400;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	left: 0;
	right: 0;
	top: 60%;
	z-index: 999;
	margin: 0px auto 0 !important;
	opacity: 0;
	visibility: hidden;
}

.woocommerce ul.products li.product {
	&:hover {

		// .woocommerce-LoopProduct-link img {
		// 	transform: scale(2);
		// }

		// .woocommerce-loop-product__title, .price, .star-rating {
		// 	opacity: 0;
		// 	visibility: hidden;
		// }
		
		.add_to_cart_button {
			top: 50%;
			opacity: 1;
			visibility: visible;
		}
	}
}

.woocommerce ul.products li.product .button.add_to_cart_button::before {
	content: "";
}

.woocommerce ul.products li.product .button:hover {
	background-color: #484c51;
	color: #fff;
}

.woocommerce-breadcrumb a:first-of-type::before {
	display: inline-block;
	font: normal normal normal 14px/1;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: .5407911001em;
}

.breadcrumb-separator {
	opacity: .5;
	padding: 0 .25em;
}

.woocommerce a.added_to_cart {
	display: block;
	text-align: center;
	font-size: 14px;
}

.woocommerce a.added_to_cart::after {
	content: "";
}

.woocommerce .products .star-rating {
	display: block;
	margin: 0 0 1em;
	font-size: 1.2em !important;
	float: none;
}

.woocommerce .star-rating span::before {
	color: #f2b01e;
}

.woocommerce nav.woocommerce-pagination ul {
	border: none;
}
.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
	border: none;
	margin-right: 5px;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	padding: 8px 12px;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	border-radius: 3px;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.woocommerce-page .woocommerce-pagination ul.page-numbers li:last-child a {
	padding-top: 6px;
	padding-bottom: 10px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover{
	background: #f56a6a;
	color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
	background: rgba(0, 0, 0, 0.25);
	color: #fff;
}

.woocommerce .woocommerce-ordering select {
 	background-image: url("../../assets/img/icons/icon-angle-down.png");
	background-size: 20px;
	background-position: 98% center;
	background-repeat: no-repeat;
	border: 1px solid #dfdfdf;
	background-color: transparent;
	border-radius: 4px;
	padding: 5px;
	margin-right: 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.woocommerce .woocommerce-result-count {
	margin: .5em 0 1em;
}

.woocommerce ul.products li.product .woocommerce-LoopProduct-link {
	position: relative;
	display: flex;
	flex-flow: column;

	.onsale {
		order: 1;
	}

	img {
		order: 3;
	}

	.woocommerce-loop-product__title {
		order: 5;
	}

	.price {
		order: 7;
	}

	.star-rating {
		order: 9;
	}
}

.woocommerce span.onsale {
	background-color:#ffc09b;
	border-radius: 0;
	box-shadow: none;
	color:#404040;
	display: block;
	font-size: .8em;
	letter-spacing: 0;
	position: absolute;
	text-transform: uppercase;
	transform: rotate(-90deg);
	z-index: 1;
	left: -21px !important;
	top: 5% !important;
	right: auto !important;
	margin: 0px !important;
	line-height: 1;
	min-height: auto;
	min-width: auto;
	padding: 15px 15px;
	width: 70px;
	height: 28px;
	padding: 0px !important;
	line-height: 25px;
}

.woocommerce ul.products li.product .onsale {
	top: 15% !important;
}

/* single product page */

.woocommerce.single-product div.product {
	position: relative;
	overflow: hidden;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: #60646c;
	font-size: 1.25em;
	font-weight: 400;
}


.woocommerce .quantity .qty {
	padding: 10px;
	border-radius: 0;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: rgba(0,0,0, .75);
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	padding: 15px;
	border-radius: 0;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: rgba(0,0,0,1);
	color: #fff;
}

.product_meta {
	color: #60646c;
}

.product_meta > span {
	display: block;
	font-size: .875em;
	margin-bottom: 5px;
}

.woocommerce .woocommerce-breadcrumb {
	font-size: .875em;
	color: #60646c;
}

.woocommerce-breadcrumb a, a.woocommerce-review-link, .product_meta a {
	color: #92969e;
}

.woocommerce-breadcrumb a:hover, a.woocommerce-review-link:hover, .product_meta a:hover {
	color: #60646c;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid rgba(0,0,0, .15);
	background-color: #f8f8f8;
	border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-weight: 400;
	outline: none;
}

.woocommerce div.product .woocommerce-tabs h2, .woocommerce div.product .related.products h2 {
	font-weight: 400;
}

.woocommerce-message, .woocommerce-info {
	border-top-color: #60646c;
}

.woocommerce-message::before, .woocommerce-info::before {
	color: #60646c;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background-color: rgba(0,0,0, .75);
	color: #fff;
	border-radius: 0;
	font-weight: 400;
	padding: 15px;
}

.woocommerce #coupon_code {
    min-width: 250px;
}

#content .woocommerce .button {
    padding: 15px;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	background-color: rgba(0,0,0, 1);
	color: #fff;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	padding: 10px;
	border-radius: 0;
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.75);
}

/* cart / checkout page */

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	padding: 15px;
	height: auto;
}

.woocommerce-checkout .select2-container .select2-selection--single {
	height: 40px;
}

.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 40px;
}

.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-top: 4px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: #f8f8f8;
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
	background-color: #e8e8e8;
}

#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
	border-bottom-color: #e8e8e8;
}

.woocommerce ul.products li.product a img {
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.woocommerce ul.products li.product a img:hover {
	opacity: .9;
}

/**
 * Styles
 */

.product-has-gallery {
	position: relative;
}

.product-has-gallery .onsale {
	z-index: 999999;
}

.product-has-gallery .wp-post-image {
	opacity: 1;
}

.product-has-gallery .wp-post-image--secondary {
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
}

/* Product image flip */

body.woocommerce:not(.single-product) ul.products li.product-has-gallery a.woocommerce-LoopProduct-link [class*="wp-post-image"] {
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

body.woocommerce:not(.single-product) ul.products li.product-has-gallery a.woocommerce-LoopProduct-link:hover .wp-post-image {
	opacity: 0;
}

body.woocommerce:not(.single-product) ul.products li.product-has-gallery a.woocommerce-LoopProduct-link:hover .wp-post-image--secondary {
	opacity: 1;
}

body.woocommerce:not(.single-product) ul.products li.product-has-gallery a.woocommerce-loop-product__link [class*="wp-post-image"] {
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

body.woocommerce:not(.single-product) ul.products li.product-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image {
	opacity: 0;
}

body.woocommerce:not(.single-product) ul.products li.product-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image--secondary {
	opacity: 1;
}

/* Fixes */

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2, .woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
	max-width: none;
}

.flexia-woo-sidebar {
	.widget {
		.widget-title {
			color: #404040;
			font-weight: 700;
		}
		ul {
			li {
				list-style: none;
				color: #707070;
				font-weight: 500;
				a {
					color: #707070;
				}
				&:before {
					content: "";
					padding: 0;
				}
			}
		}

		.product_list_widget {
			li {
				margin-bottom: 1em;
				> a {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					position: relative;
					margin-bottom: .5em;

					img {
						margin-right: 15px;
						width: 50px;
						position: absolute;
						left: 0;
						top: 0;
					}
					.product-title {
						font-size: 1em;
						color: #404040;
						font-weight: 500;
						margin-left: 70px;
					}
				}
				del {
					margin-right: 10px;
				}
				ins {
					margin-right: 10px;
					float: left;
					margin-left: 70px;
					font-size: 1.2em;
					font-weight: 700;
					color: #404040;
					background-color: transparent;
				}
				.discunt_amount {
					display: none;
				}
				.star-rating {
					display: none;
					margin-left: 70px;
					margin-bottom: 10px;
				}
				> .woocommerce-Price-amount {
					margin-right: 10px;
					float: left;
					margin-left: 70px;
					font-size: 1.2em;
					font-weight: 700;
					color: #404040;
					background-color: transparent;
				}

				> .woocommerce-Price-amount:nth-of-type(2) {
					margin-left: 10px;
					float: none;
				}
			}
		}
	}
	.widget_price_filter .price_slider_amount {
		.price_label {
			color: #707070;
		}
	}
}