/**
 * Admin styles
 */
#adminmenu .toplevel_page_flexia-options .wp-menu-image img {
    height: 20px;
    width: auto;
    padding: 8px 0;
}
.flexia-core-admin-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
}
.flexia-core-admin-wrapper .flexia-core-admin-header {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-content: center;
    align-items: center;
}
.flexia-logo-inline {
    width: 32px;
    padding-right: 10px;
    padding-top: 5px;
}
.flexia-core-admin-wrapper .flexia-core-admin-header p.flexia-rec-plugins-sub {
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 10px;
}
.flexia-core-admin-wrapper .flexia-core-admin-header .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin: 0px;
    color: #444;
    flex: 0 0 265px;
}
.flexia-core-admin-header .flexia-logo-inline {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    padding: 10px 10px 5px;
    margin-right: 10px;
}
.flexia-rec-plugins .flexia-core-admin-header .flexia-logo-inline {
    padding: 15px 10px 10px;
    width: 36px;
}
.flexia-core-sidebar-widget .title {
    font-size: 17px;
    margin: 0.5em 0 1em;
}
.flexia-core-sidebar-widget p {
    font-size: 14px;
}
.flexia-core-admin-wrapper .flexia-core-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.flexia-core-admin-wrapper .flexia-core-content-inner {
    max-width: 70em;
    height: auto;
    flex: 1 1 70%;
}
.flexia-core-admin-wrapper .flexia-core-sidebar {
    flex: 1 1 200px;
    padding: 20px;
}
.flexia-core-admin-block-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: -10px;
}
.flexia-core-admin-block-wrapper .flexia-core-admin-block {
    background-color: #fff;
    flex: 1 1 auto;
    min-width: 250px;
    width: 300px;
    margin: 10px 10px 25px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}
.flexia-core-admin-block-large,
.flexia-core-sidebar-widget {
    background: #fff;
    margin-bottom: 25px;
    padding: 1em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}
.flexia-core-admin-block-header {
    max-height: 4em;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    display: flex;
    align-content: center;
    align-items: center;
}
.flexia-core-admin-block-header-icon {
    width: 42px;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.flexia-core-admin-block-header-icon svg {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.flexia-core-admin-block-review .flexia-core-admin-block-header-icon svg {
    width: 100%;
}
.flexia-core-admin-block-support .flexia-core-admin-block-header-icon {
    width: 30px;
}
.flexia-core-admin-title {
    margin: 1em 0;
    padding: 0 1.26582em;
    font-size: 1.185em;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flexia-core-admin-block-content {
    overflow: hidden;
    position: relative;
    padding: 1em 1.5em 1.5em;
    background-color: #fff;
}
.flexia-core-admin-wrapper .flexia-core-admin-footer {
    width: 100%;
    padding: 15px 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.flexia-plugins-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: -10px;
}
.flexia-preview-img {
    width: 100%;
}
.flexia-core-sidebar-block {
    margin: calc(10% + 1.5em) auto;
}
.flexia-core-sidebar-block .flexia-admin-sidebar-logo {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}
.flexia-core-sidebar-block .flexia-admin-sidebar-logo.flexia-pro-logo {
    max-width: 120px;
}
.flexia-core-sidebar-block .flexia-admin-sidebar-logo-text > img,
.flexia-core-sidebar-block .flexia-admin-sidebar-logo-text > svg {
    max-width: 200px;
    display: block;
    margin: 10px auto;
}
.flexia-plugins {
    max-width: calc(25% - 22px);
    min-width: 350px;
    flex: 1 1 auto;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.flexia-plugins .header {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.flexia-plugins .header img {
    max-width: 100%;
}
.flexia-plugins .content {
    height: auto;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    line-height: 26px;
    padding: 15px 20px;
}
.flexia-plugins .content .title {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #333;
    line-height: 1.4;
}
.flexia-plugins .content .by-author a {
    text-decoration: none;
}
.flexia-plugins .footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #f7f7f7;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.flexia-plugins .footer .footer-left {
    width: 70%;
}
.flexia-plugins .footer .footer-right {
    width: 25%;
}
.flexia-plugins .footer .footer-left ul {
    padding: 0px;
    margin: 0px;
}
.flexia-plugins .footer .footer-left ul li {
    display: inline;
}
.flexia-plugins .footer .footer-left ul li:last-child {
    padding-left: 10px;
}
.flexia-plugins .footer .footer-left ul li:first-child {
    padding-left: 0px;
}
.flexia-plugins .footer .footer-left ul li a {
    line-height: 25px;
    text-decoration: none;
}
.flexia-plugins .footer .footer-left ul li a:hover {
    text-decoration: underline;
}
.flexia-plugins .footer .footer-right {
    text-align: right;
}
.flexia-plugins .footer .footer-right .tag-free {
    display: inline-block;
    background: #02cc7b;
    padding: 5px 15px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.flexia-plugins .footer .footer-right .tag-pro {
    display: inline-block;
    background: #651fff;
    padding: 5px 15px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.notice.flexia-usage-notice {
    display: flex;
    align-content: center;
    align-items: center;
}
.flexia-usage-notice-img .flexia-logo-inline {
    width: 50px;
    display: block;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    padding: 15px 10px 10px 0;
}
.flexia-admin-sidebar-cta a {
    font-size: 1em;
    color: rgba(35, 40, 45, 0.45);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.065em;
    text-align: center;
    margin: 20px auto;
    display: block;
    border: 1px solid rgba(35, 40, 45, 0.185);
    border-radius: 4px;
    padding: 15px;
    width: 200px;
    outline: none;
    box-shadow: none;
    transition: all 0.3s;
}

.flexia-admin-sidebar-cta a:hover {
    color: #23282d;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.715);
}
.wpdeveloper-review-notice {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    margin: 15px;
    border-left: 4px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wpdeveloper-notice-thumbnail {
    width: 90px;
    float: left;
    padding: 5px;
    text-align: center;
    border-right: 4px solid transparent;
}
.wpdeveloper-notice-message {
    padding: 10px 0;
}
.wpdeveloper-notice-thumbnail img {
    width: 72px;
    opacity: 0.85;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.wpdeveloper-notice-link {
    margin: 8px 0 0 0;
    padding: 0;
}
.wpdeveloper-notice-link li {
    display: inline-block;
    margin-right: 15px;
}
.wpdeveloper-notice-link li a {
    display: inline-block;
    color: #10738b;
    text-decoration: none;
    padding-left: 26px;
    position: relative;
}
.wpdeveloper-notice-link li a span {
    position: absolute;
    left: 0;
    top: -2px;
    text-decoration: none;
}
/* Media Quires */
@media only screen and (max-width: 480px) {
    .flexia-plugins-wrapper {
        flex-flow: column wrap;
    }
    .flexia-plugins {
        max-width: 100%;
        margin-right: 0px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .flexia-plugins {
        max-width: calc(50% - 20px);
        margin-right: 20px;
    }
    .flexia-plugins:nth-child(2n) {
        margin-right: 0px;
    }
}
